<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
        point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.osate.analysis.fault.actionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>
         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>
         <menu
               id="menu.fault"
               label="%menu.fault.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.FHA.action"
               label="%FHA.label"
               tooltip="%FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.FHAAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>
         
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.ARP4761FHA.action"
               label="%ARP4761FHA.label"
               tooltip="%ARP4761FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.ARP4761FHAAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>
        
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.MILSTD882FHA.action"
               label="%MILSTD882FHA.label"
               tooltip="%MILSTD882FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.MILSTD882FHAAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.CMA.action"
               label="%CMA.label"
               tooltip="%CMA.toolTip"
               icon="icons/cma.png"
               class="org.osate.aadl2.errormodel.analysis.actions.CMAAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>
         
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.RBD.action"
               label="%RBD.label"
               tooltip="%RBD.toolTip"
               icon="icons/rbd.png"
               class="org.osate.aadl2.errormodel.analysis.actions.RBDAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.FaultImpact.action"
               label="%FaultImpact.label"
               tooltip="%FaultImpact.toolTip"
               icon="%FaultImpact.icon"
               class="org.osate.aadl2.errormodel.analysis.actions.FaultImpactAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.UnhandledFaults.action"
               label="%UnhandledFaults.label"
               tooltip="%UnhandledFaults.toolTip"
               icon="icons/UnhandledFaults.gif"
               class="org.osate.aadl2.errormodel.analysis.actions.UnhandledFaultsAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.ImplementationCompliance.action"
               label="%ImplementationCompliance.label"
               tooltip="%ImplementationCompliance.toolTip"
               icon="icons/compliance.png"
               class="org.osate.aadl2.errormodel.analysis.actions.ImplementationComplianceAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action> 

         <!--action
               id="org.osate.aadl2.errormodel.analysis.actions.Consistency.action"
               label="%Consistency.label"
               tooltip="%Consistency.toolTip"
               icon="icons/consistency.gif"
               class="org.osate.aadl2.errormodel.analysis.actions.ConsistencyAction"
               menubarPath="menu.analyses/menu.fault/stuff.grp"
               toolbarPath="fault.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                   <objectClass name="org.osate.aadl2.instance.ComponentInstance"/>
               </or>
            </enablement>
         </action-->       
       </actionSet>
   </extension>

   <extension
   	   point="org.eclipse.ui.perspectiveExtensions">
   	   <perspectiveExtension
   		   targetID="org.osate.ui.perspective.AadlPerspective">
   		   <actionSet
   		 	   id="org.osate.analysis.fault.actionSet"/>
   	   </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.osate.analysis.architecture.oc1"
            objectClass="java.lang.Object">
         <visibility>
            <or>
               <and>
                  <objectClass name="org.eclipse.core.resources.IFile"/>
                  <objectState name="extension" value="aaxl2"/>
               </and>
               <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
            </or>
         </visibility> 

         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label"
               path="additions">
            <groupMarker name="anal.grp"/>
            <groupMarker name="subMenus.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.architecture.popupMenu.Fault"
               label="%popupMenu.Fault.label"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>

         <action
               id="org.osate.aadl2.errormodel.analysis.actions.FHA.popupAction"
               label="%FHA.label"
               tooltip="%FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.FHAAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.ARP4761FHA.popupAction"
               label="%ARP4761FHA.label"
               tooltip="%ARP4761FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.ARP4761FHAAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.MILSTD882FHA.popupAction"
               label="%MILSTD882FHA.label"
               tooltip="%MILSTD882FHA.toolTip"
               icon="icons/fha.png"
               class="org.osate.aadl2.errormodel.analysis.actions.MILSTD882FHAAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.CMA.popupAction"
               label="%CMA.label"
               tooltip="%CMA.toolTip"
               icon="icons/cma.png"
               class="org.osate.aadl2.errormodel.analysis.actions.CMAAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.RBD.popupAction"
               label="%RBD.label"
               tooltip="%RBD.toolTip"
               icon="icons/rbd.png"
               class="org.osate.aadl2.errormodel.analysis.actions.RBDAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.FaultImpact.popupAction"
               label="%FaultImpact.label"
               tooltip="%FaultImpact.toolTip"
               icon="icons/FaultImpact.gif"
               class="org.osate.aadl2.errormodel.analysis.actions.FaultImpactAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.UnhandledFaults.popupAction"
               label="%UnhandledFaults.label"
               tooltip="%UnhandledFaults.toolTip"
               icon="%UnhandledFaults.icon"
               class="org.osate.aadl2.errormodel.analysis.actions.UnhandledFaultsAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>
         <action
               id="org.osate.aadl2.errormodel.analysis.actions.ImplementationCompliance.popupAction"
               label="%ImplementationCompliance.label"
               tooltip="%ImplementationCompliance.toolTip"
               icon="icons/compliance.png"
               class="org.osate.aadl2.errormodel.analysis.actions.ImplementationComplianceAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/>    
         <!--action
               id="org.osate.aadl2.errormodel.analysis.actions.Consistency.popupAction"
               label="%Consistency.label"
               tooltip="%Consistency.toolTip"
               icon="icons/consistency.gif"
               class="org.osate.aadl2.errormodel.analysis.actions.ConsistencyAction"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.architecture.popupMenu.Fault/anal.grp"
               enablesFor="1"/-->               
       </objectContribution>
   </extension>

   <extension
         id="FaultImpactMarker"
         name="Fault Impact Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="FunctionalHazardMarker"
         name="Functional Hazard Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="UnhandledFaultsMarker"
         name="Unhandled Faults Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
</plugin>
