<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="FaultImpactMarker"
         name="Fault Impact Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="FunctionalHazardMarker"
         name="Functional Hazard Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="UnhandledFaultsMarker"
         name="Unhandled Faults Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/properties/ARP4761.aadl"
            id="org.osate.aadl2.errormodel.analysis.aadlcontribution1">
      </aadlcontribution>
      <aadlcontribution
            file="resources/properties/MILSTD882.aadl"
            id="org.osate.aadl2.errormodel.analysis.aadlcontribution2">
      </aadlcontribution>
      <aadlcontribution
            file="resources/packages/ErrorLibrary.aadl"
            id="org.osate.aadl2.errormodel.analysis.aadlcontribution3">
      </aadlcontribution>
      <aadlcontribution
            file="resources/properties/EMV2.aadl"
            id="org.osate.aadl2.errormodel.analysis.aadlcontribution6">
      </aadlcontribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.aadl2.errormodel.analysis.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.fha"
            name="%FHA.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.arp4761FHA"
            name="%ARP4761FHA.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.milstd882FHA"
            name="%MILSTD882FHA.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.cma"
            name="%CMA.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.rbd"
            name="%RBD.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.faultImpact"
            name="%FaultImpact.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.unhandledFaults"
            name="%UnhandledFaults.label">
      </command>
      <command
            categoryId="org.osate.aadl2.errormodel.analysis.category"
            id="org.osate.aadl2.errormodel.analysis.implementationCompliance"
            name="%ImplementationCompliance.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.FHAHandler"
            commandId="org.osate.aadl2.errormodel.analysis.fha">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.ARP4761FHAHandler"
            commandId="org.osate.aadl2.errormodel.analysis.arp4761FHA">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.MILSTD882FHAHandler"
            commandId="org.osate.aadl2.errormodel.analysis.milstd882FHA">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.CMAHandler"
            commandId="org.osate.aadl2.errormodel.analysis.cma">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.RBDHandler"
            commandId="org.osate.aadl2.errormodel.analysis.rbd">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.FaultImpactHandler"
            commandId="org.osate.aadl2.errormodel.analysis.faultImpact">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.UnhandledFaultsHandler"
            commandId="org.osate.aadl2.errormodel.analysis.unhandledFaults">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.aadl2.errormodel.analysis.handlers.ImplementationComplianceHandler"
            commandId="org.osate.aadl2.errormodel.analysis.implementationCompliance">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.ComponentInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.aadl2.errormodel.analysis.fha"
            icon="icons/fha.png">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.arp4761FHA"
            icon="icons/fha.png">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.milstd882FHA"
            icon="icons/fha.png">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.cma"
            icon="icons/cma.png">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.rbd"
            icon="icons/rbd.png">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.faultImpact"
            icon="icons/FaultImpact.gif">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.unhandledFaults"
            icon="icons/UnhandledFaults.gif">
      </image>
      <image
            commandId="org.osate.aadl2.errormodel.analysis.implementationCompliance"
            icon="icons/compliance.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.analysesMenu?before=org.osate.analysis.flows.checkFlowLatency">
         <menu
               id="org.osate.aadl2.errormodel.analysis.faultAnalysesMenu"
               label="Fault Analyses">
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.implementationCompliance">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.unhandledFaults">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.faultImpact">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.rbd">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.cma">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.milstd882FHA">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.arp4761FHA">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.fha">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.osate.ui.toolbar?after=org.osate.ui.annexToolbarSection">
         <command
               commandId="org.osate.aadl2.errormodel.analysis.implementationCompliance"
               tooltip="%ImplementationCompliance.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.unhandledFaults"
               tooltip="%UnhandledFaults.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.faultImpact"
               tooltip="%FaultImpact.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.rbd"
               tooltip="%RBD.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.cma"
               tooltip="%CMA.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.milstd882FHA"
               tooltip="%MILSTD882FHA.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.arp4761FHA"
               tooltip="%ARP4761FHA.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.aadl2.errormodel.analysis.fha"
               tooltip="%FHA.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.osate.ui.aadlAnalysesPopupMenu?before=org.osate.analysis.flows.checkFlowLatency">
         <menu
               id="org.osate.aadl2.errormodel.analysis.faultAnalysesPopupMenu"
               label="Fault Analyses">
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.implementationCompliance">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.unhandledFaults">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.faultImpact">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.rbd">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.cma">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.milstd882FHA">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.arp4761FHA">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.aadl2.errormodel.analysis.fha">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
