<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="osate2-platform" sequenceNumber="20">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.birt.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.graphiti.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.help.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.common.acceleo.aql" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/2018-12"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.redist.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.xtext.junit4" version="0.0.0"/>
      <unit id="org.eclipse.xtext.testing" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.16.0/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.xsemantics.runtime.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/xsemantics/milestones/1.16//"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.elk.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/elk/updates/releases/0.4.1/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.python.py4j.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.scriptarchive.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.lang.unittest.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.modules.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.modules.modeling.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ease.ui.feature.feature.group" version="0.0.0"/>
      <repository location="http://download.eclipse.org/ease/update/release"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
      <unit id="org.py4j.feature.feature.group" version="0.0.0"/>
      <repository location="https://eclipse.py4j.org"/>
    </location>
  </locations>
</target>
