<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Code Generation Category"
            id="org.osate.codegen.checker.commands.category">
      </category>
      <command
            name="Check Model Semantics"
            categoryId="org.osate.codegen.checker.commands.category"
            id="org.osate.codegen.checker.commands.check">
             <commandParameter id="org.osate.codegen.checker.kind" name="Generator Kind"/>
      </command>
     
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.osate.codegen.checker.commands.check"
            class="org.osate.codegen.checker.handlers.CheckerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=org.osate.ui.osateMenu">
         <menu
               id="org.osate.codegen.checker.codeGenerationMenu"
               label="Code Generation">
            <command
                  commandId="org.osate.codegen.checker.commands.check"
                  mnemonic="S"
                  label="Check Semantics for POK"
                  id="org.osate.codegen.checker.menus.check">
               <parameter name="org.osate.codegen.checker.kind" value="pok"/>
            </command>
            <command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for DeOS">
				<parameter name="org.osate.codegen.checker.kind" value="deos"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for VxWorks">
				<parameter name="org.osate.codegen.checker.kind" value="vxworks"/>
			</command>
         </menu>
      </menuContribution>
	<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<menu id="org.osate.codegen.checker.toolbars.codegenOutline" label="Code Generation">
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for POK">
				<parameter name="org.osate.codegen.checker.kind" value="pok"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for DeOS">
				<parameter name="org.osate.codegen.checker.kind" value="deos"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for VxWorks">
				<parameter name="org.osate.codegen.checker.kind" value="vxworks"/>
			</command>
		</menu>
	</menuContribution>
   </extension>
   
	
   <extension
         id="org.osate.codegen.codegen.marker"
         name="Code Generation Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_codegen_checker.xml"
            primary="true">
      </toc>
   </extension>
</plugin>
