<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Code Generation Category"
            id="org.osate.codegen.checker.commands.category">
      </category>
      <command
            name="Check Model Semantics"
            categoryId="org.osate.codegen.checker.commands.category"
            id="org.osate.codegen.checker.commands.check">
             <commandParameter id="org.osate.codegen.checker.kind" name="Generator Kind"/>
      </command>
     
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.osate.codegen.checker.commands.check"
            class="org.osate.codegen.checker.handlers.CheckerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.osate.codegen.checker.commands.check"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Code Generation"
               mnemonic="M"
               id="org.osate.codegen.checker.menus.codegenerationMenu">
            <command
                  commandId="org.osate.codegen.checker.commands.check"
                  mnemonic="S"
                  label="Check Semantics for POK"
                  id="org.osate.codegen.checker.menus.check">
                  <parameter name="org.osate.codegen.checker.kind" value="pok"/>
            </command>
            <command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for DeOS">
				<parameter name="org.osate.codegen.checker.kind" value="deos"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for VxWorks">
				<parameter name="org.osate.codegen.checker.kind" value="vxworks"/>
			</command>
         </menu>
      </menuContribution>
      <!--menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.osate.codegen.checker.toolbars.codegenToolbar">
            <command
                  commandId="org.osate.codegen.checker.commands.check"
                  icon="icons/sample.gif"
                  tooltip="Check the Model for Code Generation"
                  label="Check Semantics for POK"
                  id="org.osate.codegen.checker.toolbars.check">
                  
            	<parameter name="org.osate.codegen.checker.kind" value="pok"/>
            </command>
         </toolbar>
      </menuContribution-->
	<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<menu id="org.osate.codegen.checker.toolbars.codegenOutline" label="Code Generation">
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for POK">
				<parameter name="org.osate.codegen.checker.kind" value="pok"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for DeOS">
				<parameter name="org.osate.codegen.checker.kind" value="deos"/>
			</command>
			<command commandId="org.osate.codegen.checker.commands.check" style="push" label="Check Semantics for VxWorks">
				<parameter name="org.osate.codegen.checker.kind" value="vxworks"/>
			</command>
		</menu>
	</menuContribution>
   </extension>
   
	
   <extension
         id="org.osate.codegen.codegen.marker"
         name="Code Generation Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
</plugin>
