<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.assure.category.commands"
            name="Commands related to Assure">
      </category>
      <command
            categoryId="org.osate.assure.category.commands"
            id="org.osate.assure.commands.ExportEvidence"
            description="Export evidence to dcase"
            name="Export Evidence">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
         <command
               commandId="org.osate.assure.commands.ExportEvidence">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.assure.ui.dcase.handlers.AssureExportHandler" 
            commandId="org.osate.assure.commands.ExportEvidence">
         <enabledWhen>
            <and>
               <reference
                     definitionId="org.osate.assure.Assure.XtextEditor.opened">
               </reference>
               <iterate>
                  <adapt
                        type="org.eclipse.xtext.ui.editor.outline.IOutlineNode">
                  </adapt>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
   </extension>  
</plugin>
