<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safe2 -->
      <package
            uri="http://www.example.org/safe2"
            class="org.osate.alisa2.safe2.Safe2Package"
            genModel="model/safe2.genmodel"/>
   </extension>

</plugin>
