<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safe2 -->
      <package
            uri="http://www.example.org/safe2"
            class="org.osate.alisa2.model.safe2.Safe2Package"
            genModel="model/safe2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safe2 -->
      <package
            uri="http://www.aadl.info/EMV2"
            class="errorModel.ErrorModelPackage"
            genModel="model/safe2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safe2 -->
      <package
            uri="http://aadl.info/AADL/2.0"
            class="aadl2.Aadl2Package"
            genModel="model/safe2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated safe2 -->
      <package
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="ecore.EcorePackage"
            genModel="model/safe2.genmodel"/>
   </extension>

</plugin>
