<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2004-2020 Carnegie Mellon University and others. (see Contributors file). 
All Rights Reserved.

NO WARRANTY. ALL MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY
KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, WARRANTY OF FITNESS FOR PURPOSE
OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. CARNEGIE MELLON UNIVERSITY DOES NOT
MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.

This program and the accompanying materials are made available under the terms of the Eclipse Public License 2.0
which is available at https://www.eclipse.org/legal/epl-2.0/
SPDX-License-Identifier: EPL-2.0

Created, in part, with funding and support from the United States Government. (see Acknowledgments file).

This program includes and/or can make use of certain third party source code, object code, documentation and other
files ("Third Party Software"). The Third Party Software that is used by this program is dependent upon your system
configuration. By using this program, You agree to comply with any and all relevant Third Party Software terms and
conditions contained in any such Third Party Software or separate license file distributed with such Third Party
Software. The parties who own the Third Party Software ("Third Party Licensors") are intended third party benefici-
aries to this license with respect to the terms applicable to their Third Party Software. Third Party Software li-
censes only apply to the Third Party Software and not any other portion of this program or this program as a whole.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.ge.diagramTypes">
      <diagramType
            class="org.osate.ge.ba.diagram.diagramType.BehaviorAnnexDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.osate.ge.contentFilters">
      <contentFilter
            class="org.osate.ge.ba.diagram.contentFilters.BehaviorStateFilter">
      </contentFilter>
      <contentFilter
            class="org.osate.ge.ba.diagram.contentFilters.BehaviorTransitionFilter">
      </contentFilter>
      <contentFilter
            class="org.osate.ge.ba.diagram.contentFilters.BehaviorVariableFilter">
      </contentFilter>
   </extension>
   
   <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.osate.ge.ba.BehaviorAnnexPropertyTester"
           id="org.osate.ge.ba.baPropertyTester"
           namespace="org.osate.ge.ba"
           properties="isDiagramContext"
           type="org.eclipse.jface.viewers.ISelection">
     </propertyTester>
     </extension>
   <extension
         point="org.osate.ge.businessObjectProviders">
      <provider
            class="org.osate.ge.ba.BehaviorAnnexBusinessObjectProvider">
      </provider>
   </extension>
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	<propertySections contributorId="org.osate.ge.editor.AgeDiagramEditor">
	 <propertySection
	        afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
			class="org.osate.ge.ba.ui.properties.SetStateInitialPropertySection"
			filter="org.osate.ge.ba.ui.properties.StatePropertySection$Filter"
			id="org.osate.ge.ba.properties.setBehaviorStateInitialPropertySection"
			tab="org.osate.ge.ui.properties.tabs.aadl">
     </propertySection>
     <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
			class="org.osate.ge.ba.ui.properties.SetStateFinalPropertySection"
			filter="org.osate.ge.ba.ui.properties.StatePropertySection$Filter"
			id="org.osate.ge.ba.properties.setBehaviorStateFinalPropertySection"
			tab="org.osate.ge.ui.properties.tabs.aadl">
     </propertySection>
     <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
			class="org.osate.ge.ba.ui.properties.SetStateCompletePropertySection"
			filter="org.osate.ge.ba.ui.properties.SetStateCompletePropertySection$Filter"
			id="org.osate.ge.ba.properties.setBehaviorStateCompletePropertySection"
			tab="org.osate.ge.ui.properties.tabs.aadl">
     </propertySection>
     <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
			class="org.osate.ge.ba.ui.properties.SetVariableDataClassifierPropertySection"
			filter="org.osate.ge.ba.ui.properties.SetVariableDataClassifierPropertySection$Filter"
			id="org.osate.ge.ba.properties.setVariableDataClassifierPropertySection"
			tab="org.osate.ge.ui.properties.tabs.aadl">
     </propertySection>
     <propertySection
            afterSection="org.osate.ge.ui.properties.inheritedElementOwnerNoticeSection"
			class="org.osate.ge.ba.ui.properties.EditDispatchConditionsPropertySection"
			filter="org.osate.ge.ba.ui.properties.EditDispatchConditionsPropertySection$Filter"
			id="org.osate.ge.ba.properties.editDispatchConditionsPropertySection"
			tab="org.osate.ge.ui.properties.tabs.aadl">
     </propertySection>
     </propertySections>
     </extension>
   <extension
         point="org.osate.ge.businessObjectHandlers">
      <handler
            class="org.osate.ge.ba.businessobjecthandlers.BehaviorSpecificationHandler">
      </handler>
      <handler
            class="org.osate.ge.ba.businessobjecthandlers.BehaviorStateHandler">
      </handler>
      <handler
            class="org.osate.ge.ba.businessobjecthandlers.BehaviorTransitionHandler">
      </handler>
      <handler
            class="org.osate.ge.ba.businessobjecthandlers.BehaviorVariableHandler">
      </handler>
   </extension>
   <extension point="org.osate.ge.paletteContributors">
      <contributor class="org.osate.ge.ba.ui.palette.BehaviorAnnexPaletteContributor" />
   </extension>
   <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.osate.ge.ba.handlers.CreateBehaviorAnnexDiagramHandler"
          commandId="org.osate.ge.createNewDiagram">
       <activeWhen>
       		<reference
       			definitionId="org.osate.ge.ba.expressions.diagramContext">
       		</reference>
       </activeWhen>
    </handler>
    <handler
          class="org.osate.ge.ba.handlers.CreateBehaviorAnnexDiagramHandler"
          commandId="org.osate.ge.commands.creatediagram">
       <activeWhen>
          <reference
                definitionId="org.osate.ge.ba.expressions.diagramContext">
          </reference>
       </activeWhen>
    </handler>
    <handler
          class="org.osate.ge.ba.handlers.OpenBehaviorAnnexDiagramHandler"
          commandId="org.osate.ge.commands.opendiagram">
       <activeWhen>
          <reference
                definitionId="org.osate.ge.ba.expressions.diagramContext">
          </reference>
       </activeWhen>
    </handler>
    </extension>
    <extension
         point="org.eclipse.ui.menus">
         <menuContribution
       allPopups="false"
       locationURI="popup:org.osate.ge.openMenu?after=org.osate.ge.additionalDiagramTypes">
       <command
         commandId="org.osate.ge.commands.opendiagram"
         label="Behavior Annex Diagram"
         style="push">
         <visibleWhen
           checkEnabled="true">
         </visibleWhen>
       </command>
       </menuContribution>
   	</extension>
   <extension point="org.osate.ge.referenceResolvers">
	   <factory class="org.osate.ge.ba.BehaviorAnnexReferenceResolver$Factory"/>
	</extension>
	<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.osate.ge.ba.expressions.diagramContext">
         <with
            variable="selection">
            <and>
            	<reference
                   definitionId="oneElementSelected">
             	</reference>
             	<test
             		property="org.osate.ge.ba.isDiagramContext"
             		forcePluginActivation="true">
             	</test>
            </and>
          </with>
      </definition>
      </extension>
</plugin>
