<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.osate.alisa2.view.Activator"
               id="org.osate.alisa2.view"
	       name="view">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="org.osate.alisa2.view.DoFocusAction"
           id="org.osate.alisa2.view.DoFocusActionID">
     </javaActions>
     <javaActions
           actionClass="org.osate.alisa2.view.ForceVariableInitializationAction"
           id="org.osate.alisa2.view.ForceVariableInitializationActionID">
     </javaActions>
     <javaActions
           actionClass="org.osate.alisa2.view.ClearFocusAction"
           id="org.osate.alisa2.view.ClearFocusActionID">
     </javaActions>
  </extension>
</plugin>
