<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="analysis" name="Analysis" schema="schema/analysis.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="org.osate.internal.ui.preferences.OsatePreferencePage"
            name="OSATE Preferences"
            class="org.osate.internal.ui.preferences.OsatePreferencePage">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.osate.Wizard.category.ID"
            name="%_Aadl_Wizard_category">
      </category>
      <category
            id="org.osate.Wizard.category.examples"
            name="AADL Examples"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            id="org.osate.ui.wizards.AadlProjectWizardID"
            name="%_UI_AadlProjectWizard_label"
            icon="icons/new_aadl_project.gif"
            category="org.osate.Wizard.category.ID"
            class="org.osate.ui.wizards.AadlProjectWizard"
            preferredPerspectives="org.osate.ui.perspective.AadlPerspective"
            finalPerspective="org.osate.ui.perspective.AadlPerspective"
            project="true">
         <description>
            %_UI_AadlProjectWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
       <wizard
            id="org.osate.ui.wizards.NewModelWizardID"
            name="%_UI_CoreModelWizard_label"
            icon="icons/aadl.gif"
            category="org.osate.Wizard.category.ID"
            class="org.osate.ui.wizards.NewModelWizard"
                   preferredPerspectives="org.osate.ui.perspective.AadlPerspective"
            finalPerspective="org.osate.ui.perspective.AadlPerspective"
            >
         <description>
            %_UI_CoreModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>

   <extension
         id="UnparseObjectMarker"
         name="Unparse Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="XMLErrorMarker"
         name="XML Read Error Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
      		id="aadl.view_category"
      		name="%aadl_view_category.label"/>
      <view
      		id="org.osate.ui.navigator.AadlNavigator"
      		name="AADL Navigator"
      		icon="icons/aadlNav.gif"
      		category="aadl.view_category"
      		class="org.osate.ui.navigator.AadlNavigator"/>
   </extension>
   
	<extension
         point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding 
            viewerId="org.osate.ui.navigator.AadlNavigator">
			<includes>
				<contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />     	      
				<contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
				<contentExtension pattern="org.osate.ui.navigator.content"/>
				<contentExtension pattern="org.osate.ui.navigator.AadlNavigatorLinkHelper"/>
			</includes>
		</viewerContentBinding>
  		<viewerActionBinding
        	viewerId="org.osate.ui.navigator.AadlNavigator">
     		<includes>
     			<actionExtension pattern="org.eclipse.ui.navigator.resources.*" />	
     		</includes>
	  </viewerActionBinding>
   </extension>

	<extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent 
            id="org.osate.ui.navigator.content" 
            name="AADL Navigator Content"
            contentProvider="org.osate.ui.navigator.AadlNavigatorContentProvider"
            labelProvider="org.osate.ui.navigator.AadlNavigatorLabelProvider" 
            activeByDefault="true"
            priority="normal" >
        <triggerPoints>
            <and>
               <instanceof value="org.eclipse.core.resources.IResource"/>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="properties"/>
            </and>
         </triggerPoints>
         <possibleChildren>
         	<or>
         		<instanceof value= "org.osate.aadl2.instance.InstanceObject" />
         		<instanceof value= "org.osate.aadl2.NamedElement" />
         	</or>
         </possibleChildren>
		  <enablement>
		  </enablement>
		  
        <commonSorter
              class="org.osate.ui.navigator.AadlNavigatorSorter"
              id="org.osate.ui.navigator.sorter">
           <parentExpression>
               <or>
                 <instanceof
                       value="org.eclipse.core.resources.IResource">
                 </instanceof>
                 <instanceof value="org.osate.aadl2.instance.InstanceObject" />
                 <instanceof value="org.osate.aadl2.NamedElement" />
                 <instanceof
                       value="org.osate.ui.navigator.VirtualPluginResources">
                 </instanceof>
                </or>
           </parentExpression>
        </commonSorter>
        <actionProvider
              class="org.osate.ui.navigator.AadlNavigatorActionProvider">
           <enablement>
              <instanceof
                    value="org.osate.xtext.aadl2.ui.resource.ContributedAadlStorage">
              </instanceof>
           </enablement>
        </actionProvider>
      </navigatorContent>
   </extension>
   
   <extension 
        point="org.eclipse.ui.perspectives"> 
        <perspective 
        	id="org.osate.ui.perspective.AadlPerspective"
            name="AADL" 
            class="org.osate.ui.perspective.AadlPerspectiveFactory" 
            icon="icons/aadl.gif"> 
        </perspective> 
    </extension>
    
    <extension
    	point="org.eclipse.ui.perspectiveExtensions">
    	<perspectiveExtension
    		targetID="org.eclipse.ui.resourcePerspective">
    		<perspectiveShortcut
    			id="org.osate.ui.perspective.AadlPerspective"/>
    	</perspectiveExtension>
    	<perspectiveExtension
    		targetID="org.eclipse.team.cvs.ui.cvsPerspective">
    		<perspectiveShortcut
    			id="org.osate.ui.perspective.AadlPerspective"/>
    	</perspectiveExtension>
    	<perspectiveExtension
    		targetID="org.eclipse.team.ui.TeamSynchronizingPerspective">
    		<perspectiveShortcut
    			id="org.osate.ui.perspective.AadlPerspective"/>
    	</perspectiveExtension>
    </extension>
    
    <!--extension
       point="org.eclipse.ui.exportWizards">
       <wizard
       	  id="org.osate.ui.wizards.exportTextWizard"
       	  name="Aadl Text"
       	  class="org.osate.ui.wizards.AadlTextExportWizard"
       	  icon="icons/makeaadltext.gif">
       	  <description>
       	     Exports an XML AADL Model to AADL Text.
       	  </description>
       </wizard>
    </extension-->
   <extension
         id="org.osate.views"
         point="org.eclipse.ui.views">
      <category
      		id="aadl.view_category"
      		name="%aadl_view_category.label"/>
      <view
            category="aadl.view_category"
            class="org.osate.ui.views.LoggerView"
            icon="icons/aadl.gif"
            id="org.osate.ui.logger_view"
            name="%osate_logger_view.label">
      </view>
   </extension>
   
   <!--
     <extension
         point="org.eclipse.ui.propertyPages">
      <page
            id="org.osate.ui.preferences.ProjectPropertyPage"
            name="%projectPreferencesPageName"
            class="org.osate.internal.ui.preferences.ProjectPropertyPage">
         <filter
               name="nature"
               value="org.osate.core.aadlnature">
         </filter>
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   -->
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.osate.ui.navigator.AadlNavigatorLinkHelper"
             id="org.osate.ui.navigator.AadlNavigatorLinkHelper">
          <selectionEnablement>
          <or>
             <instanceof value="org.eclipse.core.resources.IFile"/>
             <instanceof value="org.osate.aadl2.Classifier"/>
             <instanceof value="org.osate.aadl2.Property"/>
             <instanceof value="org.osate.aadl2.PropertyConstant"/>
             <instanceof value="org.osate.aadl2.PropertyType"/>
             <instanceof
                   value="org.osate.xtext.aadl2.ui.resource.ContributedAadlStorage">
             </instanceof>
           </or>
          </selectionEnablement>
          <editorInputEnablement>
          <or>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
             <instanceof
                   value="org.osate.xtext.aadl2.ui.editor.ContributedAadlEditorInput">
             </instanceof>
           </or>
          </editorInputEnablement>
       </linkHelper>
    </extension>

     <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.eclipse.ui.Examples/org.osate.Wizard.category.examples"
           class="org.osate.ui.wizards.AadlExamplesWizard"
           icon="icons/aadl.gif"
           id="org.osate.wizard.examples"
           name="AADL Examples"
           project="true">
     </wizard>
     </extension>

    <extension point="org.eclipse.core.expressions.definitions">
       <definition id="org.osate.is_aadl_project_propertyset">
          <adapt type="org.eclipse.core.resources.IResource">
             <test property="org.eclipse.core.resources.name"
                  value="AADL_Project.aadl">
             </test>
          </adapt>
       </definition>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:#TextEditorContext?after=additions">
          <command
                commandId="org.osate.ui.instantiate"
                style="push"
                tooltip="Do Instantiate">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
                </reference>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
          <command
                commandId="org.osate.ui.instantiate"
                style="push"
                tooltip="Do Instantiate">
             <visibleWhen
                   checkEnabled="false">
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:org.osate.ui.navigator.AadlNavigator?after=additions">
          <menu
                id="org.osate.ui.osatePopupMenu"
                label="OSATE">
             <command
                   commandId="org.osate.ui.resetMarkers"
                   style="push">
             </command>
          </menu>
          <menu
                id="org.osate.ui.aadlAnalysesPopupMenu"
                label="AADL Analyses">
          </menu>
          <command
                commandId="org.osate.ui.instantiate"
                label="Reinstantiate selected instance"
                style="push"
                tooltip="Do Reinstantiate">
          </command>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
          <command
                commandId="org.osate.ui.conversion"
                label="%RemoveAADLNature.label"
                tooltip="%RemoveAADLNature.toolTip"
                style="push">
             <visibleWhen>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate>
                         <and>
                            <instanceof
                                  value="org.eclipse.core.resources.IProject">
                            </instanceof>
                            <test
                                  property="org.eclipse.core.resources.open">
                            </test>
                            <test
                                  property="org.eclipse.core.resources.projectNature"
                                  value="org.osate.core.aadlnature">
                            </test>
                         </and>
                      </iterate>
                   </and>
                </with>
             </visibleWhen>
          </command>
          <command
                commandId="org.osate.ui.conversion"
                label="%EnableAADLNature.label"
                tooltip="%EnableAADLNature.toolTip">
             <visibleWhen>
                <with
                      variable="selection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <iterate>
                         <and>
                            <instanceof
                                  value="org.eclipse.core.resources.IProject">
                            </instanceof>
                            <test
                                  property="org.eclipse.core.resources.open">
                            </test>
                            <not>
                               <test
                                     property="org.eclipse.core.resources.projectNature"
                                     value="org.osate.core.aadlnature">
                               </test>
                            </not>
                         </and>
                      </iterate>
                   </and>
                </with>
             </visibleWhen>
          </command>
       </menuContribution>
       <menuContribution
             locationURI="menu:org.eclipse.ui.main.menu?after=additions">
          <menu
                id="org.osate.ui.analysesMenu"
                label="Analyses">
          </menu>
          <menu
                id="org.osate.ui.osateMenu"
                label="OSATE">
             <command
                   commandId="org.osate.ui.reinstantiateAllAadl"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
             <separator
                   name="org.osate.ui.separator1"
                   visible="true">
             </separator>
             <command
                   commandId="org.osate.ui.resetMarkers"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
             <command
                   commandId="org.osate.ui.clearHistory"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
          </menu>
       </menuContribution>
       <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar">
          <toolbar
                id="org.osate.ui.toolbar"
                label="OSATE">
             <separator
                   name="org.osate.ui.analysisToolbarSection1">
             </separator>
             <separator
                   name="org.osate.ui.annexToolbarSection">
             </separator>
             <separator
                   name="org.osate.ui.analysisToolbarSection2">
             </separator>
             <command
                   commandId="org.osate.ui.reinstantiateAllAadl">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
             <separator
                   name="org.osate.ui.separator2"
                   visible="true">
             </separator>
             <command
                   commandId="org.osate.ui.clearHistory"
                   tooltip="%ClearHistory.toolTip"
                   style="push">
                 <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
             <separator
                   name="org.osate.ui.separator3"
                   visible="true">
             </separator>
             <command
                   commandId="org.osate.ui.resetMarkers"
                   tooltip="%ResetMarkers.toolTip"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activeWorkbenchWindow.activePerspective">
                      <equals
                            value="org.osate.ui.perspective.AadlPerspective">
                      </equals>
                   </with>
                </visibleWhen>
             </command>
          </toolbar>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             description="Instantiate the system"
             id="org.osate.ui.instantiate"
             name="Instantiate System">
       </command>
       <command
             id="org.osate.ui.reinstantiateAllAadl"
             name="%ReinstantiateAllModelsAction.label">
       </command>
       <command
             id="org.osate.ui.clearHistory"
             name="%ClearHistory.label">
       </command>
       <command
             id="org.osate.ui.resetMarkers"
             name="%ResetMarkers.label">
       </command>
       <command
             id="org.osate.ui.conversion"
             name="Add/Remove AADL Nature">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.osate.ui.handlers.InstantiateHandler"
             commandId="org.osate.ui.instantiate">
       </handler>
       <handler
             class="org.osate.ui.handlers.ReinstantiateAadl"
             commandId="org.osate.ui.reinstantiateAllAadl">
       </handler>
       <handler
             class="org.osate.ui.handlers.ClearHistory"
             commandId="org.osate.ui.clearHistory">
          <enabledWhen>
             <with
                   variable="selection">
                <count
                      value="1">
                </count>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="org.osate.ui.handlers.ResetMarkers"
             commandId="org.osate.ui.resetMarkers">
          <enabledWhen>
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false">
                   <instanceof
                         value="org.eclipse.core.resources.IFile">
                   </instanceof>
                </iterate>
             </with>
          </enabledWhen>
       </handler>
       <handler
             class="org.osate.ui.handlers.ConversionHandler"
             commandId="org.osate.ui.conversion">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.osate.ui.reinstantiateAllAadl"
             icon="icons/reinstantiate.gif">
       </image>
       <image
             commandId="org.osate.ui.clearHistory"
             icon="icons/smiley.gif">
       </image>
       <image
             commandId="org.osate.ui.resetMarkers"
             icon="icons/none.gif">
       </image>
    </extension>
</plugin>
