<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="ResourceAnalysisMarker"
         name="Resource Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="BoundResourceAnalysisMarker"
         name="Bound Resource Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>


   <extension
         id="BoundBandwidthAnalysisMarker"
         name="Bound Bandwidth Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="PowerAnalysisMarker"
         name="Power Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.analysis.resource.budgets.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.analysis.resource.budgets.category"
            id="org.osate.analysis.resource.budgets.doResourceBudget"
            name="&amp;Analyze Resource Budgets (not bound)">
      </command>
      <command
            categoryId="org.osate.analysis.resource.budgets.category"
            id="org.osate.analysis.resource.budgets.doBoundResourceAnalysis"
            name="&amp;Analyze Resource Allocations (bound)">
      </command>
      <command
            categoryId="org.osate.analysis.resource.budgets.category"
            id="org.osate.analysis.resource.budgets.doPowerAnalysis"
            name="&amp;Analyze Power Requirements">
      </command>
      <command
            categoryId="org.osate.analysis.resource.budgets.category"
            id="org.osate.analysis.resource.budgets.doBoundSwitchBandWidthAnalysis"
            name="&amp;Analyze Bus Load (bound connections)">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.analysis.resource.budgets.handlers.DoResourceBudget"
            commandId="org.osate.analysis.resource.budgets.doResourceBudget">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.resource.budgets.handlers.DoBoundResourceAnalysis"
            commandId="org.osate.analysis.resource.budgets.doBoundResourceAnalysis">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.resource.budgets.handlers.DoPowerAnalysis"
            commandId="org.osate.analysis.resource.budgets.doPowerAnalysis">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.resource.budgets.handlers.DoBoundSwitchBandWidthAnalysis"
            commandId="org.osate.analysis.resource.budgets.doBoundSwitchBandWidthAnalysis">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.analysis.resource.budgets.doResourceBudget"
            icon="icons/budget.gif">
      </image>
      <image
            commandId="org.osate.analysis.resource.budgets.doBoundResourceAnalysis"
            icon="icons/budgetB.gif">
      </image>
      <image
            commandId="org.osate.analysis.resource.budgets.doPowerAnalysis"
            icon="icons/power.gif">
      </image>
      <image
            commandId="org.osate.analysis.resource.budgets.doBoundSwitchBandWidthAnalysis"
            icon="icons/switchB.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.analysis.architecture.architectureMenu?after=org.osate.analysis.architecture.portConnectionConsistency">
         <command
               commandId="org.osate.analysis.resource.budgets.doBoundSwitchBandWidthAnalysis">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doPowerAnalysis">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doBoundResourceAnalysis">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doResourceBudget">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.osate.ui.toolbar?after=org.osate.analysis.flows.checkFlowLatency">
         <command
               commandId="org.osate.analysis.resource.budgets.doBoundSwitchBandWidthAnalysis"
               tooltip="Analyze Bandwidth Load for Bound according to their bound connections">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doPowerAnalysis"
               tooltip="Make sure the system has enough power to operate">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doBoundResourceAnalysis"
               tooltip="Analyze Resource Allocations for Processors and Memories">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.resource.budgets.doResourceBudget"
               tooltip="Analyze Resource Budget Totals for Processors and Memories">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
