<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            visible="false"
            id="org.osate.analysis.resource.budgets.actionSet">
         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.semantic"
               label="%menu.semantic.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>

         <menu
               id="menu.arch"
               label="%menu.arch.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>
         <action
               id="org.osate.analysis.resource.budgets.actions.DoResourceBudget"
               class="org.osate.analysis.resource.budgets.actions.DoResourceBudget"
               enablesFor="1"
               icon="icons/budget.gif"
               label="&amp;Analyze Resource Budgets (not bound)"
               menubarPath="menu.analyses/menu.arch/stuff.grp"
               toolbarPath="arch.toolbar"
               tooltip="Analyze Resource Budget Totals for Processors and Memories">
            <enablement>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aaxl2">
                     </objectState>
                  </and>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
         <action
               id="org.osate.analysis.resource.budgets.actions.DoBoundResourceAnalysis"
               class="org.osate.analysis.resource.budgets.actions.DoBoundResourceAnalysis"
               enablesFor="1"
               icon="icons/budgetB.gif"
               label="&amp;Analyze Resource Allocations (bound)"
               menubarPath="menu.analyses/menu.arch/stuff.grp"
               toolbarPath="arch.toolbar"
               tooltip="Analyze Resource Allocations for Processors and Memories">
            <enablement>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aaxl2">
                     </objectState>
                  </and>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
         <action
               id="org.osate.analysis.resource.budgets.actions.DoPowerAnalysis"
               class="org.osate.analysis.resource.budgets.actions.DoPowerAnalysis"
               enablesFor="1"
               icon="icons/power.gif"
               label="&amp;Analyze Power Requirements"
               menubarPath="menu.analyses/menu.arch/stuff.grp"
               toolbarPath="arch.toolbar"
               tooltip="Make sure the system has enough power to operate">
            <enablement>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aaxl2">
                     </objectState>
                  </and>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
         <action
               id="org.osate.analysis.resource.budgets.actions.DoBoundSwitchBandWidthAnalysis"
               class="org.osate.analysis.resource.budgets.actions.DoBoundSwitchBandWidthAnalysis"
               enablesFor="1"
               icon="icons/switchB.gif"
               label="&amp;Analyze Bus Load (bound connections)"
               menubarPath="menu.analyses/menu.arch/stuff.grp"
               toolbarPath="arch.toolbar"
               tooltip="Analyze Bandwidth Load for Bound according to their bound connections">
            <enablement>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aaxl2">
                     </objectState>
                  </and>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
      </actionSet>
   </extension>

   <extension
         id="ResourceAnalysisMarker"
         name="Resource Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="BoundResourceAnalysisMarker"
         name="Bound Resource Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>


   <extension
         id="BoundBandwidthAnalysisMarker"
         name="Bound Bandwidth Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="PowerAnalysisMarker"
         name="Power Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.osate.ui.perspective.AadlPerspective">
         <actionSet id="org.osate.analysis.resource.budgets.actionSet"/>
      </perspectiveExtension>
   </extension>
   <!--extension
         point="org.osate.ui.analysis">
      <analysis
            class="org.osate.analysis.resource.budgets.autoanalyses.DoResourceBudgetAutoAnalysis"
            id="org.osate.analysis.resource.budgets.resourcebudget.analysis"
            name="Analyze Resource Budgets">
         <instanceModel selectRootObject="true"/>
      </analysis>
      <analysis
            class="org.osate.analysis.resource.budgets.autoanalyses.DoPowerAutoAnalysis"
            id="org.osate.analysis.resource.budgets.poweranalysis.analysis"
            name="Analyze Power Requirements">
         <instanceModel selectRootObject="true"/>
      </analysis>
      <analysis
            class="org.osate.analysis.resource.budgets.autoanalyses.DoBoundResourceAutoAnalysis"
            id="org.osate.analysis.resource.budgets.boundresource.analysis"
            name="Analyze Resource Allocations of Bound Application Components">
         <instanceModel selectRootObject="true"/>
      </analysis>

      <analysis
            class="org.osate.analysis.resource.budgets.autoanalyses.DoBoundSwitchBandWidthAutoAnalysis"
            id="org.osate.analysis.resource.budgets.boundswitchbandwidth.analysis"
            name="Analyze Load on Switch for Bound Cross-Processor Connections and Loopback">
         <instanceModel selectRootObject="true"/>
      </analysis>
   </extension-->

</plugin>
