<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.pluginsupport.registeredjavaclasses">
      <class
            path="alisa_consistency.ModelConditions">
      </class>
      <class
            path="alisa_consistency.ModelVerifications">
      </class>
   </extension>

</plugin>
