<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated analysis -->
      <package
            uri="http://osate.org/analysis/analysis"
            class="org.osate.analysis.model.analysis.AnalysisPackage"
            genModel="model/analysis.genmodel"/>
   </extension>

</plugin>
