<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/properties/SEI.aadl"
            id="org.osate.contributes.SEI.aadlcontribution1">
      </aadlcontribution>
   </extension>
</plugin>
