<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="top_toc.xml" primary="true"/>
      <toc file="toc.xml"/>
      <toc file="dev_guide_toc.xml"/>
      <toc file="api.xml"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="output/index.xml"/>
   </extension>
</plugin>