<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin>
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
      <toc file="docs-gen/dev_guide_toc.xml"/>
      <toc file="docs-gen/user_guide_toc.xml"/>
      <toc file="api_toc.xml"/>
   </extension>
   <extension point="org.eclipse.help.contexts">
   	  <contexts file="help_contexts.xml" plugin="org.osate.ge.doc">
      </contexts>
   </extension>
</plugin>