<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="aadl"
            id="org.osate.xtext.aadl2.Aadl2"
            name="Aadl2 Editor">
        </editor>
        <editor
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="aadl2"
            id="org.osate.xtext.aadl2.Aadl2"
            name="Aadl2 Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.osate.xtext.aadl2.Aadl2.validate">
         <activeWhen>
            <reference
                    definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.osate.xtext.aadl2.Aadl2.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.osate.xtext.aadl2.Aadl2" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
        	category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.editor.preferences.Aadl2TextEditorPage"
            id="org.osate.xtext.aadl2.Aadl2"
            name="Aadl2 Text Editor">
            <keywordReference id="org.osate.xtext.aadl2.ui.keyword_Aadl2"/>
        </page>
        <page
            category="org.osate.xtext.aadl2.Aadl2"
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.osate.xtext.aadl2.Aadl2.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.osate.xtext.aadl2.ui.keyword_Aadl2"/>
        </page>
        <page
            category="org.osate.xtext.aadl2.Aadl2"
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.osate.xtext.aadl2.Aadl2.templates"
            name="Templates">
            <keywordReference id="org.osate.xtext.aadl2.ui.keyword_Aadl2"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.osate.xtext.aadl2.ui.keyword_Aadl2"
            label="Aadl2"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.osate.xtext.aadl2.Aadl2.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.osate.xtext.aadl2.Aadl2.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>

	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="aadl2">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="aadl2">
        </resourceServiceProvider>
    </extension>

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="aadl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="aadl">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
<!-- task preference page for org.osate.xtext.aadl2.Aadl2 -->
<extension
	point="org.eclipse.ui.preferencePages">
	<page
		category="org.osate.xtext.aadl2.Aadl2"
		class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.tasks.preferences.TaskTagPreferencePage"
		id="org.osate.xtext.aadl2.Aadl2.task.preferencePage"
		name="Task Tags">
		<keywordReference id="org.osate.xtext.aadl2.ui.keyword_Aadl2"/>
	</page>
</extension>
<extension
	point="org.eclipse.ui.propertyPages">
	<page
		class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.tasks.preferences.TaskTagPreferencePage"
		id="org.osate.xtext.aadl2.Aadl2.task.propertyPage"
		name="Task Tags">
		<keywordReference id="org.osate.xtext.aadl2.ui.keyword_Aadl2"/>
		<enabledWhen>
			<adapt type="org.eclipse.core.resources.IProject"/>
		</enabledWhen>
		<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
	</page>
</extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   	<!-- Instantiate -->
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.handlers.InstantiateHandler"
			commandId="org.osate.xtext.aadl2.ui.instantiate">
		<!--	<activeWhen>
				<reference
					definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
				</reference>
			</activeWhen> -->
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Instantiate the system"
			id="org.osate.xtext.aadl2.ui.instantiate"
			name="Instantiate System">
		</command>
	</extension>
    <extension point="org.eclipse.ui.menus">
    <!-- in editor window -->
         <menuContribution
		 allPopups="false"
         locationURI="popup:#TextEditorContext?after=additions">
        <command commandId="org.osate.xtext.aadl2.ui.instantiate"
		 tooltip="Do Instantiate" 
		 style="push">
         <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
               </reference>
         </visibleWhen>
        </command>
      </menuContribution> 
    <!-- in editor outline -->
		<menuContribution 
		allPopups="false"
		locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<command
		commandId="org.osate.xtext.aadl2.ui.instantiate"
		tooltip="Do Instantiate" 
		style="push">
		         <visibleWhen checkEnabled="false">

         </visibleWhen>
		</command>
	</menuContribution>
    <!-- in navigator -->
       <menuContribution
            locationURI="popup:org.osate.ui.navigator.AadlNavigator">
         <command
		commandId="org.osate.xtext.aadl2.ui.instantiate"
               label="Reinstantiate selected instance"
		tooltip="Do Reinstantiate" 
               style="push">
         </command>
      </menuContribution>
   </extension> 

   	<!-- SaveAs XMI -->
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.handlers.SaveAsXMIHandler"
			commandId="org.osate.xtext.aadl2.ui.saveasxmi">
		<!--	<activeWhen>
				<reference
					definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
				</reference>
			</activeWhen> -->
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Save model as XMI (aaxl2)."
			id="org.osate.xtext.aadl2.ui.saveasxmi"
			name="Save As XMI">
		</command>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
		 allPopups="false"
         locationURI="popup:#TextEditorContext?after=additions">
        <command commandId="org.osate.xtext.aadl2.ui.saveasxmi"
		 tooltip="Do Save As XMI(aaxl2)" 
		 style="push">
         <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
               </reference>
         </visibleWhen>
        </command>
      </menuContribution> 
   </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution
		allPopups="false"
		locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
		<command
		commandId="org.osate.xtext.aadl2.ui.saveasxmi"
		tooltip="Do Save As XMI(aaxl2)" 
		style="push">
		</command>
	</menuContribution>
   </extension> 

   	<!-- Save aaxl2 file to text -->
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.handlers.SaveAsTextHandler"
			commandId="org.osate.xtext.aadl2.ui.saveastext">
		<!--	<activeWhen>
				<reference
					definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
				</reference>
			</activeWhen> -->
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Save model (aaxl2) as text (aadl)"
			id="org.osate.xtext.aadl2.ui.saveastext"
			name="Save Model (aaxl2) As Text (aadl)">
		</command>
	</extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.osate.ui.navigator.AadlNavigator">
         <command
		commandId="org.osate.xtext.aadl2.ui.saveastext"
		tooltip="Save existing aaxl2 model file as text file (aadl) by Xtext Serialize" 
               style="push">
         </command>
      </menuContribution>
   </extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Organize With Clauses"
			id="org.osate.xtext.aadl2.ui.organize.with"
			name="Organize With clauses">
		</command>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
		 allPopups="false"
         locationURI="popup:#TextEditorContext">
        <command commandId="org.osate.xtext.aadl2.ui.organize.with"
		 tooltip="Remove unecessary, add needed and sort With Clauses" 
		 style="push">
         <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
               </reference>
         </visibleWhen>
        </command>
      </menuContribution> 
   </extension>
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.handlers.OrganizeWithHandler"
			commandId="org.osate.xtext.aadl2.ui.organize.with">
		</handler>
	</extension>
   <extension point="org.eclipse.ui.bindings">
	  <key
          commandId="org.osate.xtext.aadl2.ui.organize.with"
          contextId="org.eclipse.ui.textEditorScope"
          schemeId="org.osate.ge.key.bindings"
          sequence="CTRL+SHIFT+O">
    </key>
	</extension>

   	<!-- Debugging Save by Serialize -->
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.handlers.SerializeHandler"
			commandId="org.osate.xtext.aadl2.ui.serialize">
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Debugging: Save model as 'mypack.aadl'"
			id="org.osate.xtext.aadl2.ui.serialize"
			name="Debugging: Serialize as 'mypack.aadl' text">
		</command>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
		 allPopups="false"
         locationURI="popup:#TextEditorContext?after=additions">
        <command commandId="org.osate.xtext.aadl2.ui.serialize"
		 tooltip="Debugging: Save existing Xtext model As 'mypack.aadl' Text by Xtext Serialize" 
		 style="push">
         <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.xtext.aadl2.Aadl2.Editor.opened">
               </reference>
         </visibleWhen>
        </command>
      </menuContribution> 
   </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution
		allPopups="false"
		locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions ">
		<command
		commandId="org.osate.xtext.aadl2.ui.serialize"
		tooltip="Debugging: Save existing Xtext model As 'mypack.aadl' Text by Xtext Serialize" 
		style="push">
		</command>
	</menuContribution>
   </extension> 

    <extension
          point="org.eclipse.ui.views">
       <category
             id="aadl.view_category"
             name="AADL">
       </category>
       <view
             category="aadl.view_category"
             class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.osate.xtext.aadl2.ui.propertyview.AadlPropertyView"
             icon="icons/propertyview/pview.gif"
             id="org.osate.xtext.aadl2.ui.propertyview.AadlPropertyView"
             name="AADL Property Values"
             restorable="true">
          <description>
             Shows all the AADL property associations for the selected AADL element.
          </description>
       </view>
    </extension>
    <extension 
         point="org.eclipse.core.runtime.preferences">
       <scope name="Aadl2TextEditorPage" class="org.osate.xtext.aadl2.ui.editor.preferences.Aadl2TextEditorPage"/>
      <initializer
            class="org.osate.xtext.aadl2.ui.editor.preferences.Aadl2TextEditorPreferenceInitializer">
      </initializer>
    </extension>
    
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.osate.xtext.aadl2.ui.Aadl2ExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="aadl,aadl2">
      </participant>
   </extension>
</plugin>
