<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.discovery.commands.category"
            name="OSATE Discovery">
      </category>
      <command
            categoryId="org.osate.discovery.commands.category"
            id="org.osate.commands.discoveryCommand"
            name="Install Additional OSATE Components">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.discovery.ui.handler.OsateDiscoveryHandler"
            commandId="org.osate.commands.discoveryCommand">
      </handler>
   </extension>

 <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=org.eclipse.equinox.p2.ui.sdk.install">
            <command
                  commandId="org.osate.commands.discoveryCommand"
                  id="org.osate.menu.discoveryCommand"
                  tooltip="Install Additional OSATE Components">
            </command>
      </menuContribution>
   </extension>


</plugin>
