<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2007 Carnegie Mellon University

 $Id: plugin.xml,v 1.3 2008-08-17 00:43:39 lwrage Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.osate.aadl2.provider.Aadl2ItemProviderAdapterFactory"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider org.eclipse.emf.edit.provider.IStructuredItemContentProvider org.eclipse.emf.edit.provider.ITreeItemContentProvider org.eclipse.emf.edit.provider.IItemLabelProvider org.eclipse.emf.edit.provider.IItemPropertySource"
          uri="http://aadl.info/AADL/2.0"/>
  </extension>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory
          class="org.osate.aadl2.instance.provider.InstanceItemProviderAdapterFactory"
          supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider org.eclipse.emf.edit.provider.IStructuredItemContentProvider org.eclipse.emf.edit.provider.ITreeItemContentProvider org.eclipse.emf.edit.provider.IItemLabelProvider org.eclipse.emf.edit.provider.IItemPropertySource"
          uri="http://aadl.info/AADL/2.0/instance"/>
  </extension>


</plugin>
