<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.osate.aadl2.errormodel.faulttree.design.Activator"
               id="org.osate.aadl2.errormodel.faulttree.design"
	       name="faulttree">
    </component>
  </extension>
</plugin>
