<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.osate.ge.gef.ui.editor.AgeEditor"
            contributorClass="org.osate.ge.gef.ui.editor.AgeEditorActionBarContributor"
            extensions="aadl_diagram"
            id="org.osate.gef.ui.editor.AgeEditor"
            name="AADL Diagram Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.osate.ge.commands.categories.diagramEditor"
            id="org.osate.ge.gef.ui.commands.zoomIn"
            name="Zoom In">
      </command>
      <command
            categoryId="org.osate.ge.commands.categories.diagramEditor"
            id="org.osate.ge.gef.ui.commands.zoomOut"
            name="Zoom Out">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.ge.gef.ui.editor.ZoomInHandler"
            commandId="org.osate.ge.gef.ui.commands.zoomIn">
       <activeWhen>
          <reference
                definitionId="org.osate.ge.expressions.editorIsActive">
          </reference>
       </activeWhen>
      </handler>
      <handler
            class="org.osate.ge.gef.ui.editor.ZoomOutHandler"
            commandId="org.osate.ge.gef.ui.commands.zoomOut">
       <activeWhen>
          <reference
                definitionId="org.osate.ge.expressions.editorIsActive">
          </reference>
       </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.osate.ge.gef.ui.commands.zoomIn"
            contextId="org.osate.ge.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+=">
      </key>
      <key
            commandId="org.osate.ge.gef.ui.commands.zoomOut"
            contextId="org.osate.ge.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+-">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.ge.gef.ui.commands.zoomIn"
            icon="icons/zoom_in.gif">
      </image>
      <image
            commandId="org.osate.ge.gef.ui.commands.zoomOut"
            icon="icons/zoom_out.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="org.osate.ge.editor.view"
               label="View">
            <command
                  commandId="org.osate.ge.gef.ui.commands.zoomIn"
                  style="push">
            </command>
            <command
                  commandId="org.osate.ge.gef.ui.commands.zoomOut"
                  style="push">
            </command>
            <visibleWhen>
                  <reference
                      definitionId="org.osate.ge.expressions.editorIsActive">
                  </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
