<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.osate.ge.gef.ui.editor.AgeEditor"
            default="false"
            extensions="aadl_diagram"
            id="org.osate.gef.ui.editor.AgeEditor"
            name="AADL Diagram Editor (GEF)">
      </editor>
   </extension>

</plugin>
