<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="org.osate.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="%productName">
         <property
               name="aboutImage"
               value="icons/osateAbout_hc90.jpg"/>
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="welcomePage"
               value="welcome.xml"/>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="windowImages"
               value="icons/16aadl.jpg,icons/32aadl.jpg">
         </property>
      </product>
   </extension>
     <extension
           id="osate2"
           point="org.eclipse.core.runtime.products">
        <product
              application="org.eclipse.ui.ide.workbench"
              description="%productBlurb"
              name="OSATE2">
           <property
                 name="windowImages"
                 value="icons/16aadl.jpg,icons/32aadl.jpg">
           </property>
           <property
                 name="aboutText"
                 value="%aboutText">
           </property>
           <property
                 name="aboutImage"
                 value="icons/osateAbout_hc90.jpg">
           </property>
           <property
                 name="startupForegroundColor"
                 value="000000">
           </property>
           <property
                 name="startupProgressRect"
                 value="5,275,445,15">
           </property>
           <property
                 name="startupMessageRect"
                 value="7,252,445,20">
           </property>
           <property
                 name="featureImage"
                 value="icons/32aadl.jpg">
           </property>
           <property
                 name="appName"
                 value="OSATE2">
           </property>
           <property
                 name="preferenceCustomization"
                 value="plugin_customization.ini">
           </property>
        </product>
     </extension>

</plugin>
