/* Cascading Style Sheet for HTML export */
/* MODULE: DYNAMIC OUTLINE */

/* Dark Red style */

/* This stylesheet expects the following HTML structure
		  
  left column in page body
		  #pageBody .left
		  
		  td.outlineColumn
		     div.dynamicOutline
			     div.tree
				     div.mout
					  div.mover
*/


/* visual highlight the sidebar navigation */
.outlineColumn {
	vertical-align: top;	
	/*border: 1px solid #7F9DB9;*/
	background-color: #00C1BC;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.dynamicOutline {
}

/* tree is the same as dynamicOutline, just nested */
.tree {
}

.tree a:link {
	color: #CCFFFF;
	text-decoration: none;
}

.tree a:active {
	color: #CCFFFF;
	text-decoration: none;
}

.tree a:visited {
	color: #CCFFFF;
	text-decoration: none;
}

.tree a:hover {
   color: White;
	text-decoration: underline;
}

.tree .mout {
	text-decoration: none;
	width: 100%;
	padding: 0px;
	font-size: 8pt;
}

.tree .mover {
	text-decoration: underline;
	width: 100%;
	padding: 0px;
	color: White;
	font-size: 8pt;
}
