<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.osate.mylyn.aadl.ui.AadlStructureBridge"
            name="%AadlStructureBridge.name"
            parentContentType="resource" />
   </extension>

   <extension
         point="org.eclipse.mylyn.context.ui.bridges">
      <uiBridge
            class="org.osate.mylyn.aadl.ui.AadlUiBridge"
            contentType="AADL"/>
   </extension>

   <extension
         point="org.eclipse.mylyn.context.ui.startup">
      <startup
            class="org.osate.mylyn.aadl.ui.AadlBridgePlugin$Startup" />
   </extension>

	<extension
         point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding 
            viewerId="org.eclipse.mylyn.context.ui.navigator.context">
			<includes>
    			<contentExtension pattern="org.osate.ui.navigator.contributedAadl" />
			    <contentExtension pattern="org.osate.ui.navigator.aadlProjectDependencies" />
    			<contentExtension pattern="org.osate.ui.navigator.aadlFileContent" />
    		</includes>
		</viewerContentBinding>
		<viewerContentBinding 
			viewerId="org.eclipse.mylyn.context.ui.navigator.context.quick">
			<includes>
    			<contentExtension pattern="org.osate.ui.navigator.contributedAadl" />
			    <contentExtension pattern="org.osate.ui.navigator.aadlProjectDependencies" />
    			<contentExtension pattern="org.osate.ui.navigator.aadlFileContent" />
			</includes>
		</viewerContentBinding>
   </extension>
</plugin>
