<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.mylyn.context.core.bridges">
      <structureBridge
            class="org.osate.mylyn.aadl.ui.AadlStructureBridge"
            name="%AadlStructureBridge.name"
            parentContentType="resource">
      </structureBridge>
   </extension>
</plugin>
