<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  	<extension point="org.osate.ui.example">
	 	<example
	 			exampleURI="/examples/resource-budget"
	            readmeURI="doc/html/readme.html"
	            category="Basic Examples"
	        	name="Resource Budget">
	        		<project path=""/>
	    </example>
	    <example
	    		exampleURI="/examples/speed-regulation"
	            readmeURI="doc/html/readme.html"
	            category="Basic Examples"
	        	name="Speed Regulation">
	        		<project path=""/>
	    </example>
		<example
	      		exampleURI="/examples/arp4761"
	            readmeURI="doc/html/readme.html"
	            category="Flow Analysis Examples"
	        	name="ARP4761">
	        		<project path=""/>
	    </example>
	</extension>
</plugin>