<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri="http://www.osate.org/expr/Expr"
			class="org.osate.expr.expr.ExprPackage"
			genModel="model/generated/Expr.genmodel"/>
	</extension>
 <extension
       point="org.osate.annexsupport.linkingservice">
    <linkingservice
          annexName="Expr"
          class="org.osate.expr.annex.ExprAnnexLinkingService"
          id="org.osate.expr.annex.linkingservice">
    </linkingservice>
 </extension>
 <extension
       point="org.osate.annexsupport.unparser">
    <unparser
          annexName="Expr"
          class="org.osate.expr.annex.ExprAnnexUnparser"
          id="org.osate.expr.annex.unparser">
    </unparser>
 </extension>
 <extension
       point="org.osate.annexsupport.parser">
    <parser
          annexNSURI="http://www.osate.org/expr/Expr"
          annexName="Expr"
          class="org.osate.expr.annex.ExprAnnexParser"
          id="org.osate.expr.annex.parser">
    </parser>
 </extension>
</plugin>
