<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.osate.ge.styles" name="AGE Styles" schema="schema/org.osate.ge.styles.exsd"/>
	<extension point="org.eclipse.ui.commands">
	   <command id="org.osate.ge.commands.opendiagram" name="Open Diagram" defaultHandler="org.osate.ge.ui.handlers.OpenDiagramHandler"></command>
	   <command 
	   		id="org.osate.ge.commands.open.diagram.from.navigator"
			name="Open Diagram" 
			description="Open Diagram">
		</command>
   </extension>
       
   <extension point="org.eclipse.ui.menus">
		<menuContribution allPopups="false" locationURI="popup:#TextEditorContext?after=additions">
			<command commandId="org.osate.ge.commands.opendiagram" style="push"/>
		</menuContribution>
		<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
			<command commandId="org.osate.ge.commands.opendiagram" style="push"/>
		</menuContribution>
       <menuContribution
            locationURI="popup:org.osate.ui.navigator.AadlNavigator">
         <command
             commandId="org.osate.ge.commands.open.diagram.from.navigator"
             label="Open Diagram"
             tooltip="Open Diagram" 
             style="push"
             mnemonic="O">
          <visibleWhen>
			<and>
	            <reference
	                  definitionId="oneElementSelected">
	            </reference>
		        <with variable="selection">
		           <iterate ifEmpty="false" operator="and">
		              <or>
		                <adapt type="org.eclipse.core.resources.IFile">
                           <test
                             property="org.osate.ge.isAadlPackage">
                          </test>
		                </adapt>
		                <adapt type="org.osate.aadl2.Classifier"/>
		                <adapt type="org.osate.aadl2.PackageSection"/>
		                <adapt type="org.osate.aadl2.AadlPackage"/>
		              </or>
		           </iterate>
		        </with>
	        </and>    
         </visibleWhen>
         </command>
      </menuContribution>
   </extension>
	   
   <extension point="org.eclipse.graphiti.ui.diagramTypes">      
      <diagramType
            name="AADL Diagram Type"
            type="AADL Diagram"
            id="org.osate.ge.aadlDiagramType">
      </diagramType>
   </extension>
   
   <extension point="org.eclipse.graphiti.ui.diagramTypeProviders">     
      <diagramTypeProvider
            name="AADL Component Implementation Diagram Type Provider"
            class="org.osate.ge.diagrams.common.AgeDiagramTypeProvider"
            id="org.osate.ge.aadlDiagramTypeProvider">
         <diagramType
               id="org.osate.ge.aadlDiagramType">
         </diagramType>
		 <imageProvider
            id="org.osate.ge.diagrams.common.AgeImageProvider">
      	 </imageProvider>
      </diagramTypeProvider>
   </extension>
   
   <extension
	    point = "org.eclipse.ui.editors">
		<editor
	  	   id = "org.osate.ge.editor.AgeDiagramEditor"
	  	   name="AADL Diagram Editor"
      	   class="org.osate.ge.ui.editor.AgeDiagramEditor"
		   extensions="aadl_diagram"
           contributorClass="org.osate.ge.ui.editor.AgeDiagramEditorActionBarContributor"
           matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy">
		</editor>
	</extension>

	<extension point="org.eclipse.ui.startup">
      <startup class="org.osate.ge.ui.xtext.AgeXtextUtil$Initializer">
      </startup>
   </extension>
   
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.eclipse.graphiti.ui.platform.GraphitiShapeEditPart" class="org.osate.ge.ui.editor.GraphitiEditPartAdapterFactory">
			<adapter type="org.osate.xtext.aadl2.ui.propertyview.IAadlPropertySource"/>
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
		<factory adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart" class="org.osate.ge.ui.editor.GraphitiEditPartAdapterFactory">
			<adapter type="org.osate.xtext.aadl2.ui.propertyview.IAadlPropertySource"/>
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
	</extension>
	
 <extension point="org.osate.ge.styles">
 	<factory class="org.osate.ge.diagrams.common.styles.ClassifierStyleFactory" styleId="classifier"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="system"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="system-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="process"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="process-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="subprogram"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="subprogram-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="data"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="data-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="bus"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="bus-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="processor"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="processor-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="device"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="device-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="memory"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="memory-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-group"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-group-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="subprogram-group"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="subprogram-group-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="abstract"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="abstract-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-bus"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-bus-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-processor"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-processor-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.FeatureGroupStyleFactory" styleId="feature-group"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.ShadedStyleFactory" styleId="shaded"/>
 	<factory class="org.osate.ge.diagrams.common.styles.ImplementsStyleFactory" styleId="implements"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="flow_specification"/>
 	<factory class="org.osate.ge.diagrams.common.styles.ExtendsStyleFactory" styleId="extends"/>
 	<factory class="org.osate.ge.diagrams.common.styles.GeneralizationArrowheadStyleFactory" styleId="generalization-arrowhead"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="decorator"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="feature"/>
 	<factory class="org.osate.ge.diagrams.common.styles.LabelStyleFactory" styleId="label"/>
 	<factory class="org.osate.ge.diagrams.common.styles.AnnotationStyleFactory" styleId="annotation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.TextBackgroundStyleFactory" styleId="text-background"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SubprogramAccessStyleFactory" styleId="subprogram_access"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SubprogramGroupAccessStyleFactory" styleId="subprogram_group_access"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BackgroundStyleFactory" styleId="background"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="mode"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="mode-initial"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedLineStyleFactory" styleId="mode_transition_trigger"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SuprogramCallSequenceStyleFactory" styleId="subprogram_call_sequence"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SuprogramCallStyleFactory" styleId="subprogram_call"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="subprogram_call_order"/>
 </extension>
 
 <extension point="org.eclipse.ui.services">
    <serviceFactory factoryClass="org.osate.ge.services.StyleProviderService$Factory">
       <service serviceClass="org.osate.ge.services.StyleProviderService"></service>
    </serviceFactory>
    <serviceFactory factoryClass="org.osate.ge.services.DiagramService$Factory">
       <service serviceClass="org.osate.ge.services.DiagramService"></service>
    </serviceFactory>
 </extension>
 
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="org.osate.ge.ui.navigator.ContentProvider"
           id="org.osate.ge.navigatorContent"
           labelProvider="org.osate.ge.ui.navigator.LabelProvider"
           name="AADL Diagrams"
           priority="highest">
           
		<actionProvider
			class="org.osate.ge.ui.navigator.ActionProvider">
		</actionProvider>
		
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IResource">
              </instanceof>
           </or>
        </enablement>
     </navigatorContent>
  </extension>
  
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="org.osate.ge.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.osate.ui.navigator.AadlNavigator">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="org.osate.ge.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           id="org.osate.ge.navigatorContent2"
           name="Sort by Label (AGE)"
           priority="highest"
           sortOnly="true">
        <commonSorter
              class="org.osate.ge.ui.navigator.Sorter"
              id="org.osate.ge.navigatorContent.sorter">
           <parentExpression>
              <or>
                 <adapt
                       type="org.eclipse.core.resources.IFolder">
                    <test
                          property="org.osate.ge.name"
                          value="diagrams">
                    </test>
                 </adapt></or>
           </parentExpression>
        </commonSorter>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.osate.Wizard.category.ID"
           class="org.osate.ge.wizards.NewPackageWizard"
           id="org.osate.ge.wizards.NewPackageWizard"
           name="Aadl Package (Graphical)">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.osate.ge.ui.navigator.PropertyTester"
           id="org.osate.ge.navigator.propertyTester"
           namespace="org.osate.ge"
           properties="name,isAadlPackage"
           type="org.eclipse.core.resources.IResource">
     </propertyTester>
  </extension>
  
 <extension
      point="org.eclipse.graphiti.ui.imageProviders">
   <imageProvider
         class="org.osate.ge.diagrams.common.AgeImageProvider"
         id="org.osate.ge.diagrams.common.AgeImageProvider">
   </imageProvider>
</extension>

 <extension
       point="org.eclipse.ui.bindings">
    <key
    	  commandId="org.eclipse.graphiti.ui.featureExecutionCommand"
          contextId="org.eclipse.ui.contexts.dialogAndWindow"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+V">
        <parameter
        	id="org.eclipse.graphiti.ui.featureHint"
        	value="graphicalToTextualFeature">
        </parameter>
    </key>
    <key
          commandId="org.osate.ge.commands.opendiagram"
          contextId="org.eclipse.ui.textEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="M1+M2+V">
    </key>

     <key
          commandId="org.osate.ge.commands.open.diagram.from.navigator"
          schemeId="org.osate.ge.key.bindings"
          sequence="M1+Enter">
     </key>
     <scheme
           id="org.osate.ge.key.bindings"
           parentId="org.eclipse.ui.defaultAcceleratorConfiguration"
           description="Osate Key Bindings"
           name="OsateKeyBindings">
     </scheme>
  </extension>
  
<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor contributorId="org.osate.ge.editor.AgeDiagramEditor"> 
        <propertyCategory category="org.osate.ge"> 
        </propertyCategory> 
    </propertyContributor> 
</extension>
       
 <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs contributorId="org.osate.ge.editor.AgeDiagramEditor">       
		<propertyTab category="org.osate.ge" id="org.osate.ge.bindings" label="Bindings">
    </propertyTab>
    	<propertyTab category="org.osate.ge" id="org.osate.ge.connections" label="Connections">
    </propertyTab>
   </propertyTabs>
</extension>
     
 <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="org.osate.ge.editor.AgeDiagramEditor">
        <propertySection
              class="org.osate.ge.properties.BindingsSection"
              filter="org.osate.ge.properties.BindingsFilter"
              id="graphiti.main.tab.emfclass"
              tab="org.osate.ge.bindings">
        </propertySection>
        <propertySection
              class="org.osate.ge.properties.ConnectionsSection"
              filter="org.osate.ge.properties.ConnectionsFilter"
              id="graphiti.main.tab.emfclass"
              tab="org.osate.ge.connections">
        </propertySection>
    </propertySections>
 </extension>

 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="oneElementSelected">
       <with
             variable="selection">
            <count
                  value="1">
            </count>
             
       </with>
    </definition>
 </extension>
    <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.ge.ui.handlers.OpenDiagramFromNavigatorHandler"
            commandId="org.osate.ge.commands.open.diagram.from.navigator">
         <enabledWhen>
			<and>
	            <reference
	                  definitionId="oneElementSelected">
	            </reference>
		        <with variable="selection">
		           <iterate ifEmpty="false" operator="and">
		              <or>
		                <adapt type="org.eclipse.core.resources.IFile">
                           <test
                             property="org.osate.ge.isAadlPackage">
                          </test>
		                </adapt>
		                <adapt type="org.osate.aadl2.Classifier"/>
		                <adapt type="org.osate.aadl2.PackageSection"/>
		                <adapt type="org.osate.aadl2.AadlPackage"/>
		              </or>
		           </iterate>
		        </with>
	        </and>    
         </enabledWhen>
      </handler>
   </extension>
</plugin>
