<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.osate.ge.styles" name="AGE Styles" schema="schema/org.osate.ge.styles.exsd"/>
	<extension point="org.eclipse.ui.commands">
	   <command id="org.osate.ge.commands.openpackagediagram" name="Open Package Diagram" defaultHandler="org.osate.ge.ui.handlers.OpenPackageDiagramHandler"></command>
	   <command id="org.osate.ge.commands.openclassifierdiagram" name="Open Classifier Diagram" defaultHandler="org.osate.ge.ui.handlers.OpenClassifierDiagramHandler"></command>
   </extension>
	   
   <extension point="org.eclipse.ui.menus">
   	<!--
   		<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">		
			<menu id="org.osate.ge.menu" label="AGE">
				<command commandId="org.osate.ge.commands.openpackagediagram" style="push"/>
			</menu>
		</menuContribution>
		-->
		<menuContribution allPopups="false" locationURI="popup:#TextEditorContext?after=additions">
			<command commandId="org.osate.ge.commands.openpackagediagram" style="push"/>
			<command commandId="org.osate.ge.commands.openclassifierdiagram" style="push"/>
		</menuContribution>
		<menuContribution allPopups="false" locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
			<command commandId="org.osate.ge.commands.openpackagediagram" style="push"/>
			<command commandId="org.osate.ge.commands.openclassifierdiagram" style="push"/>
		</menuContribution>
   </extension>
	   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="AADL Package Diagram Type"
            type="AADL Package"
            id="org.osate.ge.aadlPackageDiagramType">
      </diagramType>
      
      <diagramType
            name="AADL Type Diagram Type"
            type="AADL Type"
            id="org.osate.ge.aadlTypeDiagramType">
      </diagramType>
      
      <diagramType
            name="AADL Component Implementation Diagram Type"
            type="AADL Component Implementation"
            id="org.osate.ge.aadlComponentImplementationDiagramType">
      </diagramType>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="AADL Package Diagram Type Provider"
            class="org.osate.ge.diagrams.pkg.PackageDiagramTypeProvider"
            id="org.osate.ge.aadlPackageDiagramTypeProvider">
         <diagramType
               id="org.osate.ge.aadlPackageDiagramType">
         </diagramType>
      </diagramTypeProvider>
      
      <diagramTypeProvider
            name="AADL Type Diagram Type Provider"
            class="org.osate.ge.diagrams.type.TypeDiagramTypeProvider"
            id="org.osate.ge.aadlTypeDiagramTypeProvider">
         <diagramType
               id="org.osate.ge.aadlTypeDiagramType">
         </diagramType>
      </diagramTypeProvider>
      
      <diagramTypeProvider
            name="AADL Component Implementation Diagram Type Provider"
            class="org.osate.ge.diagrams.componentImplementation.ComponentImplementationDiagramTypeProvider"
            id="org.osate.ge.aadlComponentImplementationDiagramTypeProvider">
         <diagramType
               id="org.osate.ge.aadlComponentImplementationDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   
   <extension
	    point = "org.eclipse.ui.editors">
		<editor
	  	   id = "org.osate.ge.editor.AgeDiagramEditor"
	  	   name="AADL Diagram Editor"
      	   class="org.osate.ge.ui.editor.AgeDiagramEditor"
		   extensions="aadl_diagram"
           contributorClass="org.osate.ge.ui.editor.AgeDiagramEditorActionBarContributor"
           matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
           >
		</editor>
	</extension>

	<extension point="org.eclipse.ui.startup">
      <startup class="org.osate.ge.ui.xtext.AgeXtextUtil$Initializer">
      </startup>
   </extension>
   
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.eclipse.graphiti.ui.platform.GraphitiShapeEditPart" class="org.osate.ge.ui.editor.GraphitiEditPartAdapterFactory">
			<adapter type="org.osate.xtext.aadl2.ui.propertyview.IAadlPropertySource"/>
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
		<factory adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart" class="org.osate.ge.ui.editor.GraphitiEditPartAdapterFactory">
			<adapter type="org.osate.xtext.aadl2.ui.propertyview.IAadlPropertySource"/>
			<adapter type="org.eclipse.ui.views.properties.IPropertySource"/>
		</factory>
	</extension>
	
 <extension point="org.osate.ge.styles">
 	<factory class="org.osate.ge.diagrams.common.styles.ClassifierStyleFactory" styleId="classifier"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="system"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="system-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="process"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="process-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="subprogram"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="subprogram-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="data"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="data-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="bus"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="bus-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="processor"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="processor-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="device"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="device-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="memory"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="memory-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-group"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-group-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="thread-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="subprogram-group"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="subprogram-group-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="abstract"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="abstract-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-bus"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-bus-implementation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-processor"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedComponentTypeStyleFactory" styleId="virtual-processor-implementation"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.FeatureGroupStyleFactory" styleId="feature-group"/> 	
 	<factory class="org.osate.ge.diagrams.common.styles.ShadedStyleFactory" styleId="shaded"/>
 	<factory class="org.osate.ge.diagrams.common.styles.ImplementsStyleFactory" styleId="implements"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="flow_specification"/>
 	<factory class="org.osate.ge.diagrams.common.styles.ExtendsStyleFactory" styleId="extends"/>
 	<factory class="org.osate.ge.diagrams.common.styles.GeneralizationArrowheadStyleFactory" styleId="generalization-arrowhead"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="decorator"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="feature"/>
 	<factory class="org.osate.ge.diagrams.common.styles.LabelStyleFactory" styleId="label"/>
 	<factory class="org.osate.ge.diagrams.common.styles.AnnotationStyleFactory" styleId="annotation"/>
 	<factory class="org.osate.ge.diagrams.common.styles.TextBackgroundStyleFactory" styleId="text-background"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SubprogramAccessStyleFactory" styleId="subprogram_access"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SubprogramGroupAccessStyleFactory" styleId="subprogram_group_access"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BackgroundStyleFactory" styleId="background"/>
 	<factory class="org.osate.ge.diagrams.common.styles.BasicComponentTypeStyleFactory" styleId="mode"/>
 	<factory class="org.osate.ge.diagrams.common.styles.SolidLineStyleFactory" styleId="mode-initial"/>
 	<factory class="org.osate.ge.diagrams.common.styles.DashedLineStyleFactory" styleId="mode_transition_trigger"/>
 	
 </extension>
 
 <extension point="org.eclipse.ui.services">
    <serviceFactory factoryClass="org.osate.ge.services.StyleProviderService$Factory">
       <service serviceClass="org.osate.ge.services.StyleProviderService"></service>
    </serviceFactory>
    <serviceFactory factoryClass="org.osate.ge.services.DiagramService$Factory">
       <service serviceClass="org.osate.ge.services.DiagramService"></service>
    </serviceFactory>
 </extension>
 
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="org.osate.ge.ui.navigator.ContentProvider"
           id="org.osate.ge.navigatorContent"
           labelProvider="org.osate.ge.ui.navigator.LabelProvider"
           name="AADL Diagrams"
           priority="highest">
           
		<actionProvider
			class="org.osate.ge.ui.navigator.ActionProvider">
		</actionProvider>
		
        <enablement>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IResource">
              </instanceof>
           </or>
        </enablement>
     </navigatorContent>
  </extension>
  
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="org.osate.ge.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewerContentBinding
           viewerId="org.osate.ui.navigator.AadlNavigator">
        <includes>
           <contentExtension
                 isRoot="false"
                 pattern="org.osate.ge.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           id="org.osate.ge.navigatorContent2"
           name="Sort by Label (AGE)"
           priority="highest"
           sortOnly="true">
        <commonSorter
              class="org.osate.ge.ui.navigator.Sorter"
              id="org.osate.ge.navigatorContent.sorter">
           <parentExpression>
              <or>
                 <adapt
                       type="org.eclipse.core.resources.IFolder">
                    <test
                          property="org.osate.ge.name"
                          value="diagrams">
                    </test>
                 </adapt></or>
           </parentExpression>
        </commonSorter>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.osate.Wizard.category.ID"
           class="org.osate.ge.wizards.NewPackageWizard"
           icon="icons/sample.gif"
           id="org.osate.ge.wizards.NewPackageWizard"
           name="Aadl Package (Graphical)">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="org.osate.ge.ui.navigator.PropertyTester"
           id="org.osate.ge.navigator.propertyTester"
           namespace="org.osate.ge"
           properties="name"
           type="org.eclipse.core.resources.IResource">
     </propertyTester>
  </extension>
 
</plugin>
