<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.osate.ge.pictogramHandlers">
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorTypePictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorTypeExtensionPictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorBehaviorStateMachinePictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorModelLibraryPictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorModelSubclausePictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorTypeLibraryPictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorBehaviorEventPictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorBehaviorStatePictogramHandler">
      </handler>
      <handler
            class="org.osate.ge.errormodel.pictogramHandlers.ErrorBehaviorTransitionPictogramHandler">
      </handler>
   </extension>
   <extension
         point="org.osate.ge.categories">
      <category
            id="org.osate.ge.errormodel.categories.emv"
            name="Error Model"
            order="200">
      </category>
   </extension>
   <extension
         point="org.osate.ge.references">
      <referenceBuilder
            class="org.osate.ge.errormodel.ErrorModelReferenceHandler">
      </referenceBuilder>
      <referenceResolver
            class="org.osate.ge.errormodel.ErrorModelReferenceHandler">
      </referenceResolver>
   </extension>
  
</plugin>
