<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.osate.texteditor.Aadl2TextEditor"
            default="false"
            extensions="aadl"
            icon="icons/aadltext.gif"
            id="edu.cmu.sei.aadl.aadl2texteditor.Aadl2TextEditorID"
            name="Aadl 2 Text Editor">
      </editor>
   </extension>

</plugin>
