<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!--
disable, needs rework before being enabled again
     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.osate.analysis.security.actionSet"
            label="%actionSet.label"
            visible="false">

         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.security"
               label="%menu.security.label"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>
         
         <action
               id="org.osate.analysis.security.actions.CheckSafety.action"
               label="%CheckSafety.label"
               tooltip="%CheckSafety.toolTip"
               icon="%CheckSafety.icon"
               disabledIcon="%CheckSafety.disabledIcon"
               class="org.osate.analysis.security.actions.CheckSafety"
               menubarPath="menu.analyses/menu.security/stuff.grp"
               toolbarPath="security.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                  <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
         
         <action
               id="org.osate.analysis.security.actions.CheckSecurity.action"
               label="%CheckSecurity.label"
               tooltip="%CheckSecurity.toolTip"
               icon="%CheckSecurity.icon"
               disabledIcon="%CheckSecurity.disabledIcon"
               class="org.osate.analysis.security.actions.CheckSecurity"
               menubarPath="menu.analyses/menu.security/stuff.grp"
               toolbarPath="security.toolbar"
               enablesFor="1">
            <enablement>
               <or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                 <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
               </or>
            </enablement>
         </action>
      </actionSet>
   </extension>
   
   <extension
   	   point="org.eclipse.ui.perspectiveExtensions">
   	   <perspectiveExtension
   		   targetID="org.osate.ui.perspective.AadlPerspective">
   		   <actionSet
   		 	   id="org.osate.analysis.security.actionSet"/>
   	   </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.osate.analysis.security.oc1"
            objectClass="java.lang.Object">
         <visibility>
            <or>
               <and>
                  <objectClass name="org.eclipse.core.resources.IFile"/>
                  <objectState name="extension" value="aaxl2"/>
               </and>
               <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
            </or>
         </visibility>
                 
         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label"
               path="additions">
            <groupMarker name="anal.grp"/>
            <groupMarker name="subMenus.grp"/>
         </menu>

         <menu
               id="org.osate.analysis.security.popupMenu.Security"
               label="%popupMenu.Security.label"
               path="org.osate.ui.popupMenu.Analyses/subMenus.grp">
            <groupMarker name="anal.grp"/>
         </menu>
        
        
         <action
               id="org.osate.analysis.security.actions.CheckSafety.popupAction"
               label="%CheckSafety.label"
               tooltip="%CheckSafety.toolTip"
               icon="%CheckSafety.icon"
               class="org.osate.analysis.security.actions.CheckSafety"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.security.popupMenu.Security/anal.grp"
               enablesFor="1"/>
         
         <action
               id="org.osate.analysis.security.actions.CheckSecurity.popupAction"
               label="%CheckSecurity.label"
               tooltip="%CheckSecurity.toolTip"
               icon="%CheckSecurity.icon"
               class="org.osate.analysis.security.actions.CheckSecurity"
               menubarPath="org.osate.ui.popupMenu.Analyses/org.osate.analysis.security.popupMenu.Security/anal.grp"
               enablesFor="1"/>
      </objectContribution>
   </extension>

   <extension
         id="SafetyCheckerObjectMarker"
         name="Safety Level Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   <extension
         id="SecurityCheckerObjectMarker"
         name="Security Level Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension point="org.osate.ui.analysis">
      <analysis
   		 id="org.osate.analysis.security.actions.CheckSecurity.analysis"
   		 name="Check Security Levels"
   		 class="org.osate.analysis.security.actions.CheckSecurityAnalysis">
   		 <declarativeModel selectRootObject="true">
   		    <selectedObject objectType="org.osate.aadl2.ComponentImplementation"/>
   		 </declarativeModel>
   		 <instanceModel selectRootObject="true"/>
   	  </analysis>

      <analysis
   		 id="org.osate.analysis.security.actions.CheckSafety.analysis"
   		 name="Check Safety Levels"
   		 class="org.osate.analysis.security.actions.CheckSafetyAnalysis">
   		 <declarativeModel selectRootObject="true">
   		    <selectedObject objectType="org.osate.aadl2.ComponentImplementation"/>
   		 </declarativeModel>
   		 <instanceModel selectRootObject="true"/>
   	  </analysis>
   </extension>
   -->
</plugin>
