<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.analysis.architecture.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.security.checkSecurity"
            name="Check Security">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.analysis.security.handlers.SecurityChecker"
            commandId="org.osate.analysis.security.checkSecurity">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.analysis.security.checkSecurity"
            disabledIcon="icons/noCheckSecurity.gif"
            icon="icons/checkSecurity.gif">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.semanticChecksMenu?after=core">
         <command
               commandId="org.osate.analysis.security.checkSecurity">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.osate.ui.semanticChecksToolbar?after=core">
         <command
               commandId="org.osate.analysis.security.checkSecurity"
               tooltip="%checkSecurity.toolTip">
            <!--
               Remove visibleWhen on the command when this bug is fixed:
               https://bugs.eclipse.org/bugs/show_bug.cgi?id=201589
            -->
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.osate.ui.semanticChecksNavigatorPopup?after=core">
         <command
               commandId="org.osate.analysis.security.checkSecurity">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="SecurityCheckObjectMarker"
         name="Security Check Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.osate.aadl2.modelsupport.AadlObjectMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_security_checker.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
