<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.osate.reqtrace.requirementsTracing"
            name="Traceability">
      </command>
      <command
            id="org.osate.reqtrace.requirementsReport"
            name="Requirements">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.reportGenerationMenu?after=core">
         <command
               commandId="org.osate.reqtrace.requirementsTracing">
         </command>
         <command
               commandId="org.osate.reqtrace.requirementsReport">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.osate.ui.reportGenerationNavigatorPopup?after=core">
         <command
               commandId="org.osate.reqtrace.requirementsTracing">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.reqtrace.requirementsReport">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.reqtrace.RequirementsTracingHandler"
            commandId="org.osate.reqtrace.requirementsTracing">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="reqspec">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="goals">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="reqdoc">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="goaldoc">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.osate.reqtrace.isAadlPackage">
                              </test>
                           </or>
                        </adapt>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.reqtrace.RequirementsReportHandler"
            commandId="org.osate.reqtrace.requirementsReport">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <or>
                        <adapt
                              type="org.osate.aadl2.modelsupport.EObjectURIWrapper">
                           <test
                                 property="org.osate.aadl2.modelsupport.wrapperSuperType"
                                 value="ComponentClassifier"
                                 forcePluginActivation="true">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="reqspec">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="reqdoc">
                              </test>
                           </or>
                        </adapt>
                     </or>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.osate.reqtrace.AadlPropertyTester"
            id="org.osate.reqtrace.aadlPropertyTester"
            namespace="org.osate.reqtrace"
            properties="isAadlPackage"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>

</plugin>
