<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="FlowLatencyObjectMarker"
         name="Flow Latency Analysis Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
 	<extension
         id="org.osate.analysis.flows.partitioning_policy"
         name="Partioning Policy"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.analysis.flows.preferences.Initializer">
      </initializer>
   </extension>
      <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.osate.internal.ui.preferences.OsatePreferencePage"
            class="org.osate.analysis.flows.preferences.Page"
            id="org.osate.analysis.flows.PreferencePage"
            name="Flow Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.analysis.flows.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.analysis.flows.category"
            id="org.osate.analysis.flows.checkFlowLatency"
            name="%CheckFlowLatency.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.analysis.flows.handlers.CheckFlowLatency"
            commandId="org.osate.analysis.flows.checkFlowLatency">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.analysis.flows.checkFlowLatency"
            icon="icons/checkFlowLatency.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="menu.analyses"
               label="%menu.analyses.label">
            <command
                  commandId="org.osate.analysis.flows.checkFlowLatency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="arch.toolbar">
            <command
                  commandId="org.osate.analysis.flows.checkFlowLatency"
                  tooltip="%CheckFlowLatency.toolTip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.osate.ui.popupMenu.Analyses"
               label="%popupMenu.analyses.label">
            <command
                  commandId="org.osate.analysis.flows.checkFlowLatency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
