<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.osate.imv.ui.perspective.ImvPerspectiveFactory"
            icon="icons/imv_icon16x16.png"
            id="org.osate.imv.ui.perspective.ImvPerspective"
            name="IMV ">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.osate.ui.perspective.AadlPerspective">
         <perspectiveShortcut
               id="org.osate.imv.ui.perspective.ImvPerspective">
         </perspectiveShortcut>
         <actionSet
               id="org.osate.imv.actionset">
         </actionSet>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.osate.imv.ui.perspective.ImvPerspective">
         <actionSet
               id="org.osate.analysis.security.actionSet">
         </actionSet>
         <actionSet
               id="org.osate.analysis.resource.budgets.actionSet">
         </actionSet>
         <actionSet
               id="org.osate.analysis.architecture.actionSet">
         </actionSet>
         <actionSet
               id="org.osate.analysis.resource.management.actionSet">
         </actionSet>
         <actionSet
               id="org.osate.analysis.flows.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.ModesView"
            id="org.osate.imv.ui.views.modesView"
            name="Modes"
            restorable="true">
      </view>
      <category
            id="imv.viewCategory"
            name="IMV">
      </category>
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.filter.ElementFilterView"
            id="org.osate.imv.ui.views.elementFilterView"
            name="Element Filters"
            restorable="true">
      </view>
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.FlowImpView"
            id="org.osate.imv.ui.views.flowsView"
            name="Flow Paths"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.osate.imv.ui.editor.ImvInstanceEditor"
            default="true"
            extensions="imv"
            id="org.osate.imv.ui.editor"
            name="Instance Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.osate.imv.actionset"
            label="IMV"
            visible="false">
         <action
               class="org.osate.imv.ui.actions.OpenImvEditor"
               enablesFor="1"
               id="org.osate.imv.ui.actions.OpenImvEditor"
               label="Graphically view instance or implementations"
               style="push">
            <enablement>
               <or>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aaxl2">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aadl">
                     </objectState>
                  </and>
                  <and>
                     <objectClass
                           name="org.eclipse.core.resources.IFile">
                     </objectClass>
                     <objectState
                           name="extension"
                           value="aadl2">
                     </objectState>
                  </and>
                  <objectClass
                        name="org.osate.aadl2.instance.SystemInstance">
                  </objectClass>
                  <objectClass
                        name="org.osate.aadl2.AadlPackage">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.osate.imv.ui.oc1"
            objectClass="java.lang.Object">
         <action
               class="org.osate.imv.ui.actions.OpenImvEditor"
               enablesFor="1"
               id="org.osate.imv.ui.actions.OpenImvEditor.popUpMenu"
               label="Graphically view instance or implementations"
               menubarPath="org.osate.ui.popupMenu.Aadl/general.grp">
            <enablement>
            <or>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="aaxl2">
                  </objectState>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="aadl">
                  </objectState>
               </and>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <objectState
                        name="extension"
                        value="aadl2">
                  </objectState>
               </and>
               </or>
            </enablement>
         </action>
         <visibility>
         <or>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="aaxl2">
               </objectState>
            </and>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="extension"
                     value="aadl">
               </objectState>
            </and>
            </or>
         </visibility>
      </objectContribution>
   </extension>

</plugin>
