<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.osate.imv.ui.perspective.ImvPerspectiveFactory"
            icon="icons/imv_icon16x16.png"
            id="org.osate.imv.ui.perspective.ImvPerspective"
            name="IMV ">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.osate.ui.perspective.AadlPerspective">
         <perspectiveShortcut
               id="org.osate.imv.ui.perspective.ImvPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.ModesView"
            id="org.osate.imv.ui.views.modesView"
            name="Modes"
            restorable="true">
      </view>
      <category
            id="imv.viewCategory"
            name="IMV">
      </category>
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.filter.ElementFilterView"
            id="org.osate.imv.ui.views.elementFilterView"
            name="Element Filters"
            restorable="true">
      </view>
      <view
            category="imv.viewCategory"
            class="org.osate.imv.ui.views.FlowImpView"
            id="org.osate.imv.ui.views.flowsView"
            name="Flow Paths"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.osate.imv.ui.editor.ImvInstanceEditor"
            default="true"
            extensions="imv"
            id="org.osate.imv.ui.editor"
            name="Instance Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.osate.imv.ui.openImvEditor"
            name="Graphically view instance or implementations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.imv.ui.handlers.OpenImvEditor"
            commandId="org.osate.imv.ui.openImvEditor">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="aaxl2">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="aadl">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="aadl2">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.osate.ui.osatePopupMenu">
         <command
               commandId="org.osate.imv.ui.openImvEditor">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and"
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="aaxl2">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="aadl">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
