<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PropagationGraph -->
      <package
            uri="http://www.aadl.info/PropagationGraph"
            class="org.osate.aadl2.errormodel.PropagationGraph.PropagationGraphPackage"
            genModel="model/PropagationGraph.genmodel"/>
   </extension>

</plugin>
