<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LoadDeclarativeModelAndEMV2/src/org/osate/standalone/emf/LoadDeclarativeModelAndEMV2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.osate.standalone.emf.LoadDeclarativeModelAndEMV2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="aadl_files/ComponentImplementations.aadl aadl_files/test.aadl aadl_files/fred2.aadl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LoadDeclarativeModelAndEMV2"/>
</launchConfiguration>
