<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.osate.validation.lute.actionSet"
			label="Lute Set"
			visible="true">
			
			

         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.lute"
               label="LUTE"
               path="menu.analyses/top.grp">
            <groupMarker name="stuff.grp"/>
         </menu>
         
         <action
               id="org.osate.validation.lute.CustomLuteAction.action"
               label="Run Custom Lute Theorems..."
               tooltip="Run Custom Lute Theorems..."
               class="org.osate.validation.lute.CustomLuteAction"
               menubarPath="menu.analyses/menu.lute/stuff.grp"
               enablesFor="1">
				<enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>			
         <action
               id="org.osate.validation.lute.BuiltinLuteAction.action"
               label="Run META theorems"
               tooltip="Run Built-in METATheorems"
               class="org.osate.validation.lute.BuiltinLuteAction"
               menubarPath="menu.analyses/menu.lute/stuff.grp"
               enablesFor="1">
				<enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>		
         <action
               id="org.osate.validation.lute.ConsoleLuteAction.action"
               label="Run LUTE Console"
               tooltip="Run LUTE Console"
               class="org.osate.validation.lute.RunConsoleAction"
               menubarPath="menu.analyses/menu.lute/stuff.grp"
               enablesFor="1">
				<enablement>
					<objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
				</enablement>
         </action>					


		</actionSet>
   </extension>
</plugin>
