<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.osate.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
     <extension
         id="aadlnature"
         name="%aadlNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.osate.core.AadlNature">
         </run>
      </runtime>
      <!--builder
            id="org.osate.core.aadlbuilder">
      </builder-->
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/AadlNature.gif"
            natureId="org.osate.core.aadlnature"
            id="org.osate.core.natureimage">
      </image>
   </extension>
   <!--extension
         id="aadlbuilder"
         name="%aadlBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.osate.core.builder.AadlBuilder">
         </run>
      </builder>
   </extension-->
   <extension
         point="org.eclipse.core.resources.markers"
         id="cyclicreferencemarker"
         name="Cyclic Project Reference Marker">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.osate.core.AadlProjectBuilderParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="aadl">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="aaxl2,aail2"
            id="org.osate.core.instanceModelFile"
            name="Instance Model File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="{http://aadl.info/AADL/2.0/instance}SystemInstance">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.osate.core.isInstanceFileSelected">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IFile">
                     <test
                           property="org.eclipse.core.resources.contentTypeId"
                           value="org.osate.core.instanceModelFile">
                     </test>
                  </adapt>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
 </plugin>
