<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="aadlnature"
         name="%aadlNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.osate.core.AadlNature">
         </run>
      </runtime>
      <!--builder
            id="org.osate.core.aadlbuilder">
      </builder-->
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/AadlNature.gif"
            natureId="org.osate.core.aadlnature"
            id="org.osate.core.natureimage">
      </image>
   </extension>
   <!--extension
         id="aadlbuilder"
         name="%aadlBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.osate.core.builder.AadlBuilder">
         </run>
      </builder>
   </extension-->
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="aadl">
      </fileTypes>
   </extension>
 </plugin>
