<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110613-1736"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.sdk.feature.group" version="3.1.0.v20110607-0602"/>
<unit id="org.eclipse.amp.all.feature.group" version="0.9.0.v20110610-0008"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.2.0.v20110606-0750"/>
<unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="1.0.0.v20110607-1900"/>
<unit id="org.eclipse.emf.cdo.epp.feature.group" version="4.0.0.v20110608-1639"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.0.0.v20110608-1747"/>
<unit id="org.eclipse.amalgam.discovery.feature.group" version="1.2.0.v20110608-1648"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.0.0.v20110608-1633"/>
<unit id="org.eclipse.egf.sdk.feature.group" version="0.5.0.v20110608-1400"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.emf.compare.feature.group" version="1.2.0.v20110607-2028"/>
<unit id="org.eclipse.emf.compare.mpatch.feature.group" version="1.2.0.v20110607-2028"/>
<unit id="org.eclipse.emf.compare.sdk.feature.group" version="1.2.0.v20110607-2028"/>
<unit id="org.eclipse.emf.compare.uml2.feature.group" version="1.2.0.v20110607-2028"/>
<unit id="org.eclipse.emf.facet.sdk.feature.group" version="0.1.0.v201106070935"/>
<unit id="org.eclipse.emf.query.examples.feature.group" version="1.5.0.v20110502-1600-678-AkF78Z8GCS7LRF7"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="1.5.0.v20110502-1600-67O-95GFz03DQEiNLXRMK_NPj507"/>
<unit id="org.eclipse.emf.transaction.examples.feature.group" version="1.5.0.v20110502-1600-47B8Z8yGD5OtMCKTJQMQ6FGL2"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.5.0.v20110502-1600-777T-9AZP-F1cMhjSqjhYl0eU20D"/>
<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.0.0.v20110606-0949"/>
<unit id="org.eclipse.emf.teneo.eclipselink.sdk.feature.group" version="1.1.0.v201006151458"/>
<unit id="org.eclipse.emf.teneo.hibernate.sdk.feature.group" version="1.1.2.v201006151458"/>
<unit id="org.eclipse.emf.validation.examples.feature.group" version="1.5.0.v20110502-1600-67H-BgJ9CS9KHX8QXNK"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.5.0.v20110502-1600-67O-96SGR55YJeZPedcQnghI6uFA"/>
<unit id="org.eclipse.emf.eef.codegen.ecore.feature.group" version="1.0.0.v20110608-0819"/>
<unit id="org.eclipse.emf.eef.indigo.feature.group" version="1.0.0.v20110608-0819"/>
<unit id="org.eclipse.gef.examples.feature.group" version="3.7.0.v20110425-2050-7G7Y-BgJ9EBCKBM4J9Y9"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.7.0.v20110425-2050-7G7W-A5WNg9RDcRXDHeSRSTUiNLI"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.3.0.v20110425-2050-67C-8COMNEAKQTKGPWTQTYhUN8ZQ"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.5.0.v20110426-2159-47D08xGD6ExNBM7CIJa3CIKK9t84"/>
<unit id="org.eclipse.gmf.feature.group" version="1.5.0.v20110607-1200-7d9Q7HFYnmMEynz0X0qrbsDiK281"/>
<unit id="org.eclipse.gmf.examples.runtime.feature.group" version="1.5.0.v20110607-1200-7B7L1F8NcJP0K2Nm9W2nY"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.5.0.v20110607-1200-67N09E9QnChoWswz-3wf_rz0kQ8Y"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.8.0.v20110607-1252"/>
<unit id="org.eclipse.jet.sdk.feature.group" version="1.1.1.v201101271243-42186A5NsKEQPHRQeFaJS4A35"/>
<unit id="org.eclipse.papyrus.sdk.feature.group" version="0.8.0.v201106151827"/>
<unit id="org.eclipse.emf.mint.sdk.feature.group" version="0.9.0.v201006142335"/>
<unit id="org.eclipse.gmt.modisco.sdk.feature.group" version="0.9.0.v201106080847"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.0.0.v201106070634"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.0.0.v201106070424"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.1.0.v201106070424"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.0.0.v20110608-1639"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="3.1.0.v20110606-1427"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="3.1.0.v20110606-1427"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.1.0.v20110314-1530-7U7A-CL5RuMpMxGq9lWcafWQlGUu"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="3.2.0.v201105231350"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="1.1.0.v201106070515"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.7.0.v20110606-0949"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.0.0.v201106070531"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
