
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="juno" sequenceNumber="25">
<locations>

<location path="/tmp/plugins" type="Directory"/>
<location path="/tmp/" type="Directory"/>


<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="3.0.0.201306101825-r"/>
<unit id="org.eclipse.egit.import.feature.group" version="3.0.0.201306101825-r"/>
<unit id="org.eclipse.egit.psf.feature.group" version="3.0.0.201306101825-r"/>
<unit id="org.eclipse.m2e.feature.feature.group" version="1.2.0.20120903-1050"/>
<unit id="org.eclipse.team.svn.revision.graph.feature.group" version="1.0.0.I20120601-1700"/>
<unit id="org.eclipse.team.svn.mylyn.feature.group" version="1.0.0.I20120601-1700"/>
<unit id="org.eclipse.team.svn.resource.ignore.rules.jdt.feature.group" version="1.0.0.I20120601-1700"/>
<unit id="org.eclipse.team.svn.feature.group" version="1.0.0.I20120818-1700"/>
<unit id="org.eclipse.team.svn.nl1.feature.group" version="1.0.0.I20120818-1700"/>
<unit id="org.eclipse.team.svn.source.feature.group" version="1.0.0.I20120818-1700"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.amalgam.discovery.feature.group" version="1.2.0.201206050806"/>
<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="1.1.0.201205150811"/>
<unit id="org.eclipse.egf.sdk.feature.group" version="1.0.0.v20120528-1550"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.0.1.v20120917-0741"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.5.0.201305060205"/>
<unit id="org.eclipse.gmf.feature.group" version="1.6.0.v20120517-1809-7d9X7FFYnmMJUVOKcqPSgIiK281V"/>
<unit id="org.eclipse.gmf.tooling.feature.group" version="3.0.0.RC4a"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.4.0.v201306110940.jar"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.4.0.v201306110341"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="4.1.0.v20130610-0712"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.xtend.m2e.feature.group" version="2.4.2.v201306120542"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.4.2.v201306120542"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.0.v20130604-2046"/>
<unit id="org.eclipse.help.feature.group" version="2.0.0.v20130605-2000"/>
<unit id="org.eclipse.platform.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20130521-0416"/>
<unit id="org.eclipse.rcp.feature.group" version="4.3.0.v20130605-2000"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.2.0.v20130604-2046"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20130604-2046"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.0.v20130604-2046"/>

<repository location="jar:file:/tmp/org.eclipse.platform-4.3.zip!/"/>
</location>

</locations>
</target>
