<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="new" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.rcp.feature.group" version="4.4.0.v20140606-1445"/>
<unit id="org.eclipse.help.feature.group" version="2.0.102.v20140606-1215"/>
<unit id="org.eclipse.platform.feature.group" version="4.4.0.v20140606-1558"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.team.svn.feature.group" version="2.0.0.I20140609-1700"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.5.0.20140606-0033"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.8.0.201405281451"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.egit.feature.group" version="3.4.0.201406110918-r"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.0.v20140602-0749"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.11.0.v20140528-0646"/>
<unit id="org.eclipse.gmf.feature.group" version="1.8.0.201406111639"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
<includeBundles>
<feature id="org.eclipse.draw2d"/>
<feature id="org.eclipse.e4.rcp"/>
<feature id="org.eclipse.ecf.core.feature"/>
<feature id="org.eclipse.ecf.core.ssl.feature"/>
<feature id="org.eclipse.ecf.filetransfer.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.feature"/>
<feature id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature"/>
<feature id="org.eclipse.ecf.filetransfer.ssl.feature"/>
<feature id="org.eclipse.egit"/>
<feature id="org.eclipse.emf"/>
<feature id="org.eclipse.emf.codegen"/>
<feature id="org.eclipse.emf.codegen.ecore"/>
<feature id="org.eclipse.emf.codegen.ecore.source"/>
<feature id="org.eclipse.emf.codegen.ecore.ui"/>
<feature id="org.eclipse.emf.codegen.source"/>
<feature id="org.eclipse.emf.codegen.ui"/>
<feature id="org.eclipse.emf.common"/>
<feature id="org.eclipse.emf.common.ui"/>
<feature id="org.eclipse.emf.common.ui.source"/>
<feature id="org.eclipse.emf.converter"/>
<feature id="org.eclipse.emf.converter.source"/>
<feature id="org.eclipse.emf.databinding"/>
<feature id="org.eclipse.emf.databinding.edit"/>
<feature id="org.eclipse.emf.databinding.edit.source"/>
<feature id="org.eclipse.emf.databinding.source"/>
<feature id="org.eclipse.emf.doc"/>
<feature id="org.eclipse.emf.doc.source"/>
<feature id="org.eclipse.emf.ecore"/>
<feature id="org.eclipse.emf.ecore.edit"/>
<feature id="org.eclipse.emf.ecore.edit.source"/>
<feature id="org.eclipse.emf.ecore.editor"/>
<feature id="org.eclipse.emf.ecore.editor.source"/>
<feature id="org.eclipse.emf.edit"/>
<feature id="org.eclipse.emf.edit.source"/>
<feature id="org.eclipse.emf.edit.ui"/>
<feature id="org.eclipse.emf.edit.ui.source"/>
<feature id="org.eclipse.emf.mapping"/>
<feature id="org.eclipse.emf.mapping.ecore"/>
<feature id="org.eclipse.emf.mapping.ecore.editor"/>
<feature id="org.eclipse.emf.mapping.ecore.editor.source"/>
<feature id="org.eclipse.emf.mapping.ecore.source"/>
<feature id="org.eclipse.emf.mapping.source"/>
<feature id="org.eclipse.emf.mapping.ui"/>
<feature id="org.eclipse.emf.mapping.ui.source"/>
<feature id="org.eclipse.emf.sdk"/>
<feature id="org.eclipse.emf.source"/>
<feature id="org.eclipse.emf.transaction"/>
<feature id="org.eclipse.emf.validation"/>
<feature id="org.eclipse.emf.workspace"/>
<feature id="org.eclipse.equinox.p2.core.feature"/>
<feature id="org.eclipse.equinox.p2.extras.feature"/>
<feature id="org.eclipse.equinox.p2.rcp.feature"/>
<feature id="org.eclipse.equinox.p2.user.ui"/>
<feature id="org.eclipse.gef"/>
<feature id="org.eclipse.gmf"/>
<feature id="org.eclipse.gmf.runtime.notation"/>
<feature id="org.eclipse.gmf.runtime.thirdparty"/>
<feature id="org.eclipse.graphiti.feature"/>
<feature id="org.eclipse.help"/>
<feature id="org.eclipse.jgit"/>
<feature id="org.eclipse.m2e.logback.feature"/>
<feature id="org.eclipse.platform"/>
<feature id="org.eclipse.rcp"/>
<feature id="org.eclipse.team.svn"/>
<feature id="org.eclipse.uml2"/>
<feature id="org.eclipse.uml2.codegen.ecore.ui"/>
<feature id="org.eclipse.uml2.codegen.ecore.ui.source"/>
<feature id="org.eclipse.uml2.common"/>
<feature id="org.eclipse.uml2.common.edit"/>
<feature id="org.eclipse.uml2.common.edit.source"/>
<feature id="org.eclipse.uml2.common.source"/>
<feature id="org.eclipse.uml2.doc"/>
<feature id="org.eclipse.uml2.examples"/>
<feature id="org.eclipse.uml2.examples.source"/>
<feature id="org.eclipse.uml2.sdk"/>
<feature id="org.eclipse.uml2.source"/>
<feature id="org.eclipse.uml2.uml"/>
<feature id="org.eclipse.uml2.uml.edit"/>
<feature id="org.eclipse.uml2.uml.edit.source"/>
<feature id="org.eclipse.uml2.uml.source"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="ch.qos.logback.slf4j"/>
<plugin id="com.google.guava"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.m2e.archetype.common"/>
<plugin id="org.eclipse.m2e.core"/>
<plugin id="org.eclipse.m2e.core.ui"/>
<plugin id="org.eclipse.m2e.maven.indexer"/>
<plugin id="org.eclipse.m2e.maven.runtime"/>
<plugin id="org.eclipse.m2e.maven.runtime.slf4j.simple"/>
<plugin id="org.eclipse.m2e.model.edit"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.slf4j.api"/>
</includeBundles>
</target>
