<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="osate2-platform" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.birt.feature.group" version="4.5.0.v201506092134"/>
<unit id="org.eclipse.e4.rcp.feature.group" version="1.4.1.v20160212-1350"/>
<unit id="org.eclipse.egit.feature.group" version="4.1.1.201511131810-r"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.emf.transaction.feature.group" version="1.9.0.201506010221"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.9.0.201506010221"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20150602-1417"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="1.3.100.v20150527-1706"/>
<unit id="org.eclipse.equinox.p2.extras.feature.feature.group" version="1.2.101.v20160129-0947"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-1318"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.102.v20160129-0947"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.9.0.201506060219"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.3.1.201509020853"/>
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.12.2.v20160120-1255"/>
<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.12.2.v20160120-1255"/>
<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.12.2.v20160120-1255"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.12.2.v20160120-1255"/>
<unit id="org.eclipse.help.feature.group" version="2.1.2.v20160212-1500"/>
<unit id="org.eclipse.m2e.logback.feature.feature.group" version="1.6.2.20150902-0002"/>
<unit id="org.eclipse.platform.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.rcp.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.sdk.feature.group" version="4.5.2.v20160212-1500"/>
<unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="3.1.4.201602091241"/>
<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="3.1.4.201602091241"/>
<unit id="org.eclipse.sirius.specifier.feature.group" version="3.1.4.201602091241"/>
<unit id="org.eclipse.uml2.feature.group" version="5.1.2.v20160201-0816"/>
<unit id="org.eclipse.zest.feature.group" version="1.6.1.201508170204"/>
<repository location="http://download.eclipse.org/releases/mars/201602261000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.redist.feature.group" version="2.8.4.v201508050135"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.8.4/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.8.1.v201508030411"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="it.xsemantics.runtime.feature.feature.group" version="1.8.1.v20151009-0657"/>
<repository location="http://sourceforge.net/projects/xsemantics/files/updates/releases/1.8"/>
</location>
<!-- certware and dependencies -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.3.0.201602270002"/>
<repository location="http://download.eclipse.org/epsilon/updates"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="net.certware.feature.sacm.feature.group" version="1.1.0.201603232103"/>
<repository location="http://updatesite.certware.net"/>
</location>
<!-- end certware -->
<!-- dcase editor -->
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="net.dependableos.dcase.feature.feature.group" version="1.0.0.axe_201504121822"/>
<repository location="http://www.dimensions-japan.org/dcase/eclipse/"/>
</location>
<!-- end dcase-->
</locations>
</target>
