/.CommonError1Test.java._trace
/.CommonError2Test.java._trace
/.CommonError3Test.java._trace
/.DualFGSTest.java._trace
/.Emfta1Test.java._trace
/.Emfta2Test.java._trace
/.Emfta3Test.java._trace
/NestedCompositeTest.java
/.NestedCompositeTest.java._trace
/.Redundant2Test.java._trace
/.RedundantTest.java._trace
/.CommonError1Test.xtendbin
/.CommonError2Test.xtendbin
/.CommonError3Test.xtendbin
/.DualFGSTest.xtendbin
/.Emfta1Test.xtendbin
/.Emfta2Test.xtendbin
/.Emfta3Test.xtendbin
/.NestedCompositeTest.xtendbin
/.Redundant2Test.xtendbin
/.RedundantTest.xtendbin
/CommonError1Test.java
/CommonError2Test.java
/CommonError3Test.java
/DualFGSTest.java
/Emfta1Test.java
/Emfta2Test.java
/Emfta3Test.java
/Redundant2Test.java
/RedundantTest.java
