<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="alisa"
            id="org.osate.alisa.workbench.Alisa"
            name="Alisa Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.osate.alisa.workbench.Alisa.validate">
         <activeWhen>
            <reference
                    definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="org.osate.alisa.workbench.Alisa.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="org.osate.alisa.workbench.Alisa.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.osate.alisa.workbench.Alisa.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.osate.alisa.workbench.Alisa" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.osate.alisa.workbench.Alisa.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.osate.alisa.workbench.Alisa" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.osate.alisa.workbench.Alisa"
            name="Alisa">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
        </page>
        <page
            category="org.osate.alisa.workbench.Alisa"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.osate.alisa.workbench.Alisa.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
        </page>
        <page
            category="org.osate.alisa.workbench.Alisa"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.osate.alisa.workbench.Alisa.templates"
            name="Templates">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.osate.alisa.workbench.Alisa"
            name="Alisa">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.osate.alisa.workbench.ui.keyword_Alisa"
            label="Alisa"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.osate.alisa.workbench.Alisa.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.osate.alisa.workbench.Alisa.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.osate.alisa.workbench.Alisa.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.osate.alisa.workbench.Alisa.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="org.osate.alisa.workbench.Alisa.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   
 
 <!-- adding Alisa specific stuff XXX-->
    
 	<extension point="org.eclipse.ui.handlers">
            <handler
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.osate.alisa.workbench.ui.handlers.AlisaTestHandler"
            commandId="org.osate.alisa.commands.TestMe">
         <enabledWhen>
            <reference
                  definitionId="org.osate.alisa.expressions.isSingleOutlineSelection">
            </reference>
        
         </enabledWhen> 
      </handler>
     </extension>  
      
    <extension
         point="org.eclipse.ui.commands">
     <category
            id="org.osate.alisa.category.commands"
            name="Commands related to Incremental Assurance">
     </category>
     <command categoryId="org.osate.alisa.category.commands"
            id="org.osate.alisa.commands.TestMe"
            description="Perform Test"
            name="Test Me">
     </command>
     
      
    </extension>
    
    <extension point="org.eclipse.core.expressions.definitions">
     <definition
            id="org.osate.alisa.expressions.isSingleOutlineSelection">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
</extension>
    <extension point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.osate.alisa.toolbars.main">
            <command
                  commandId="org.osate.alisa.commands.TestMe"
                  icon="icons/alisa.png"
                  id="org.osate.alisa.menus.alisa"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
       <menuContribution
            allPopups="false"
            locationURI="popup:org.osate.xtext.aadl2.ui.outline?after=additions">
         <command
                commandId="org.osate.alisa.commands.TestMe"
                icon="icons/alisa.png"
                id="org.osate.alisa.menus.alisa"
                mnemonic="a"
                style="push"
                tooltip="Perform Incremental Assurance">
         </command>
      </menuContribution>
     
</extension>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="alisa">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="alisa">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for org.osate.alisa.workbench.Alisa -->
	<extension
	        id="alisa.check.fast"
	        name="Alisa Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="alisa.check.normal"
	        name="Alisa Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="alisa.check.expensive"
	        name="Alisa Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
            fileExtensions="alisa"
            >
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.osate.alisa.workbench.Alisa"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.osate.alisa.workbench.Alisa.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.osate.alisa.workbench.Alisa"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.osate.alisa.workbench.Alisa.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.osate.alisa.workbench.Alisa.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.osate.alisa.workbench.Alisa -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.osate.alisa.workbench.ui.alisa.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.osate.alisa.workbench.ui.alisa.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.osate.alisa.workbench.ui.alisa.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.osate.alisa.workbench.Alisa"
	        class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.osate.alisa.workbench.Alisa.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.osate.alisa.workbench.ui.keyword_Alisa"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.osate.alisa.workbench.Alisa.compare.contentViewers"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="alisa">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.osate.alisa.workbench.Alisa.compare.contentMergeViewers"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="alisa" label="Alisa Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.osate.alisa.workbench.Alisa.editors.documentProviders"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="alisa">
    </provider>
  </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.osate.alisa.workbench.ui.wizard.AlisaNewProjectWizard"
            id="org.osate.alisa.workbench.ui.wizard.AlisaNewProjectWizard"
            name="Alisa Project"
            project="true">
      </wizard>
   </extension>
   
   
   
       	<!-- Execute assurance case -->
   	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.osate.alisa.workbench.ui.AlisaExecutableExtensionFactory:org.osate.alisa.workbench.ui.handlers.ExecuteAssuranceCaseHandler"
			commandId="org.osate.alisa.workbench.ui.executeAssuranceCase">
		<!--	<activeWhen>
				<reference
                     definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
				</reference>
			</activeWhen> -->
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Execute Assurance Case"
			id="org.osate.alisa.workbench.ui.executeAssuranceCase"
			name="Execute Assurance Case">
		</command>
	</extension>
    <extension point="org.eclipse.ui.menus">
    <!-- in editor window -->
         <menuContribution
		 allPopups="false"
         locationURI="popup:#TextEditorContext?after=additions">
        <command commandId="org.osate.alisa.workbench.ui.executeAssuranceCase"
         icon="icons/alisahead.png"
		 tooltip="Do Execute Assurance Case" 
		 style="push">
         <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.osate.alisa.workbench.Alisa.Editor.opened">
               </reference>
         </visibleWhen>
        </command>
      </menuContribution> 
    <!-- in editor outline -->
		<menuContribution 
		allPopups="false"
		locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
		<command
		commandId="org.osate.alisa.workbench.ui.executeAssuranceCase"
        icon="icons/alisahead.png"
		tooltip="Do Execute Assurance Case" 
		style="push">
		         <visibleWhen checkEnabled="false">

         </visibleWhen>
		</command>
	</menuContribution>
    <!-- in navigator -->
       <menuContribution
            locationURI="popup:org.osate.ui.navigator.AadlNavigator">
         <command
		commandId="org.osate.alisa.workbench.ui.executeAssuranceCase"
        label="Execute All Assurance Cases"
        icon="icons/alisahead.png"
		tooltip="Do Execute All Assurance Cases" 
               style="push">
         </command>
      </menuContribution>
   </extension> 
   

</plugin>
