<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diagram -->
      <package
            uri="http://osate.org/diagram"
            class="org.osate.ge.mm.diagram.DiagramPackage"
            genModel="model/diagram.genmodel"/>
   </extension>

</plugin>
