<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.cmu.sei.aadl.annex.parser">
      <parser
            annexName="behavior_specification"
            class="fr.tpt.aadl.annex.behavior.AadlBaParserAction"
            id="fr.tpt.aadl.annex.behavior.parser"
            name="AADL Behavior Annex">
      </parser>
   </extension>
   <extension
         point="edu.cmu.sei.aadl.annex.resolver">
      <resolver
            annexName="behavior_specification"
            class="fr.tpt.aadl.annex.behavior.analyzers.AadlBaResolver"
            id="fr.tpt.aadl.annex.behavior.analyzers.resolver"
            name="AADL Behavior Annex">
      </resolver>
   </extension>
   
   <extension
         point="edu.cmu.sei.aadl.annex.unparser">
      <parser
            annexName="behavior_specification"
            class="fr.tpt.aadl.annex.behavior.unparser.AadlBaUnParserAction"
            id="fr.tpt.aadl.annex.behavior.unparser"
            name="AADL Behavior Annex">
      </parser>
   </extension>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///AADLBA" 
       class = "fr.tpt.aadl.annex.behavior.aadlba.AadlBaPackage"
       genModel = "model/aadlba.genmodel" /> 
  </extension>
</plugin>
  