<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="ModelStatisticsObjectMarker"
         name="Model Statistics Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>

   
   <extension
         id="ConnectionBindingConsistencyObjectMarker"
         name="Connection Binding Consistency Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         id="A429ConnectionConsistencyObjectMarker"
         name="A429 Connection Consistency Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         id="PortConnectionConsistencyObjectMarker"
         name="Port Connection Consistency Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   
   <extension
         id="WeightTotalObjectMarker"
         name="Weight Total Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.osate.aadl2.modelsupport.AadlObjectMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="CheckBindingConstraintsObjectMarker"
         name="Check Binding Constraints Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.osate.aadl2.modelsupport.AadlObjectMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/toc_check_binding_constraints.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.analysis.architecture.category"
            name="%actionSet.label">
      </category>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.architecture.checkConnectionBindingConsistency"
            name="%DoConnectionBindingConsistency.label">
      </command>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.architecture.portConnectionConsistency"
            name="%PortConnectionConsistency.label">
      </command>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.architecture.checkA429PortConnectionConsistency"
            name="%A429ConnectionConsistency.label">
      </command>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.architecture.propertyTotals"
            name="%CheckPropertyTotals.label">
      </command>
      <command
            categoryId="org.osate.analysis.architecture.category"
            id="org.osate.analysis.architecture.checkBindingConstraints"
            name="Check binding constraints">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.analysis.architecture.handlers.CheckConnectionBindingConsistency"
            commandId="org.osate.analysis.architecture.checkConnectionBindingConsistency">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.architecture.handlers.DoPortConnectionConsistency"
            commandId="org.osate.analysis.architecture.portConnectionConsistency">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.architecture.handlers.CheckA429PortConnectionConsistency"
            commandId="org.osate.analysis.architecture.checkA429PortConnectionConsistency">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.architecture.handlers.DoPropertyTotals"
            commandId="org.osate.analysis.architecture.propertyTotals">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.analysis.architecture.handlers.CheckBindingConstraints"
            commandId="org.osate.analysis.architecture.checkBindingConstraints">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.osate.core.isInstanceFileSelected">
               </reference>
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <instanceof
                              value="org.osate.aadl2.instance.SystemInstance">
                        </instanceof>
                     </iterate>
                  </and>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.analysis.architecture.checkConnectionBindingConsistency"
            icon="icons/ConnBinding.gif">
      </image>
      <image
            commandId="org.osate.analysis.architecture.portConnectionConsistency"
            icon="icons/portConnCon.gif">
      </image>
      <image
            commandId="org.osate.analysis.architecture.checkA429PortConnectionConsistency"
            icon="icons/a429ConnCon.gif">
      </image>
      <image
            commandId="org.osate.analysis.architecture.propertyTotals"
            icon="icons/checkPropertyTotals.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.osate.ui.analysesMenu">
         <menu
               id="org.osate.analysis.architecture.architectureMenu"
               label="Architecture">
            <command
                  commandId="org.osate.analysis.architecture.propertyTotals">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.analysis.architecture.checkA429PortConnectionConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.analysis.architecture.portConnectionConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="org.osate.analysis.architecture.semanticChecksMenu"
               label="Semantic Checks">
            <command
                  commandId="org.osate.analysis.architecture.checkBindingConstraints">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.analysis.architecture.checkConnectionBindingConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.osate.ui.toolbar?after=org.osate.ui.analysisToolbarSection1">
         <command
               commandId="org.osate.analysis.architecture.propertyTotals"
               tooltip="%CheckPropertyTotals.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.architecture.checkA429PortConnectionConsistency"
               tooltip="%A429ConnectionConsistency.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.architecture.portConnectionConsistency"
               tooltip="%PortConnectionConsistency.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.osate.analysis.architecture.checkConnectionBindingConsistency"
               tooltip="%DoConnectionBindingConsistency.toolTip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.osate.ui.perspective.AadlPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.osate.ui.aadlAnalysesPopupMenu?after=org.osate.analysis.resource.management.schedulingPopupMenu">
         <menu
               id="org.osate.analysis.architecture.semanticChecksPopupMenu"
               label="Semantic Checks">
            <command
                  commandId="org.osate.analysis.architecture.checkConnectionBindingConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
         <menu
               id="org.osate.analysis.architecture.architecturePopupMenu"
               label="Architecture">
            <command
                  commandId="org.osate.analysis.architecture.propertyTotals">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.analysis.architecture.checkA429PortConnectionConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.analysis.architecture.portConnectionConsistency">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           operator="and"
                           ifEmpty="false">
                        <or>
                           <instanceof
                                 value="org.osate.aadl2.instance.SystemInstance">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                              <test
                                    property="org.eclipse.core.resources.contentTypeId"
                                    value="org.osate.core.instanceModelFile">
                              </test>
                           </adapt>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
