<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.reporter.category"
            name="Reporter">
      </category>
      <command
            categoryId="org.osate.reporter.category"
            id="org.osate.reporter.reporter"
            name="Generate Marker Report">
      </command>
      <command
            categoryId="org.osate.reporter.category"
            id="org.osate.reporter.reporterSettings"
            name="Report Generator Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.reporter.ReporterHandler"
            commandId="org.osate.reporter.reporter">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.osate.reporter.ReporterSettingsHandler"
            commandId="org.osate.reporter.reporterSettings">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.osate.reporter.reporter"
            icon="icons/gr.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="menu.osate"
               label="OSATE">
            <command
                  commandId="org.osate.reporter.reporter"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.reporter.reporterSettings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="OSATE.toolbar">
            <command
                  commandId="org.osate.reporter.reporter"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.osate.ui.popupMenu.Aadl"
               label="%popupMenu.aadl.label">
            <command
                  commandId="org.osate.reporter.reporter"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.reporter.reporterSettings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
</plugin>
