<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<setAttribute key="additional_plugins"/>
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="askclear" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="clearws" value="false"/>
<booleanAttribute key="clearwslog" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/OSATE2 Slang"/>
<booleanAttribute key="default" value="true"/>
<stringAttribute key="featureDefaultLocation" value="workspace"/>
<stringAttribute key="featurePluginResolution" value="workspace"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="location" value="${workspace_loc}/../osate2-slang"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="pde.version" value="3.3"/>
<stringAttribute key="product" value="org.osate.branding.org.osate.product"/>
<setAttribute key="selected_features">
<setEntry value="com.itemis.xtext.testing.feature:default"/>
<setEntry value="com.rockwellcollins.atc.agree.feature:default"/>
<setEntry value="com.rockwellcollins.atc.resolute.feature:default"/>
<setEntry value="com.rockwellcollins.atc.z3.feature:default"/>
<setEntry value="de.itemis.xtext.antlr.feature:default"/>
<setEntry value="de.itemis.xtext.antlr.sdk:default"/>
<setEntry value="de.itemis.xtext.antlr.source.feature:default"/>
<setEntry value="edu.cmu.emfta.feature:default"/>
<setEntry value="edu.uah.rsesc.aadlsimulator.agree.feature:default"/>
<setEntry value="edu.uah.rsesc.aadlsimulator.feature:default"/>
<setEntry value="it.xsemantics.doc.feature:default"/>
<setEntry value="it.xsemantics.examples.feature:default"/>
<setEntry value="it.xsemantics.feature:default"/>
<setEntry value="it.xsemantics.runtime.feature:default"/>
<setEntry value="it.xsemantics.sdk:default"/>
<setEntry value="net.dependableos.dcase.feature:default"/>
<setEntry value="org.eclipse.birt.report.designer.editor.xml.wtp:default"/>
<setEntry value="org.eclipse.birt:default"/>
<setEntry value="org.eclipse.datatools.connectivity.feature:default"/>
<setEntry value="org.eclipse.datatools.connectivity.oda.designer.core.feature:default"/>
<setEntry value="org.eclipse.datatools.connectivity.oda.designer.feature:default"/>
<setEntry value="org.eclipse.datatools.connectivity.oda.feature:default"/>
<setEntry value="org.eclipse.datatools.doc.user:default"/>
<setEntry value="org.eclipse.datatools.enablement.apache.derby.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.hsqldb.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.ibm.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.ingres.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.jdbc.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.jdt.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.msft.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.mysql.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.oda.designer.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.oda.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.oracle.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.postgresql.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.sap.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.sqlite.feature:default"/>
<setEntry value="org.eclipse.datatools.enablement.sybase.feature:default"/>
<setEntry value="org.eclipse.datatools.modelbase.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.data.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.ddl.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.ddlgen.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.parsers.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.results.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.schemaobjecteditor.feature:default"/>
<setEntry value="org.eclipse.datatools.sqldevtools.sqlbuilder.feature:default"/>
<setEntry value="org.eclipse.draw2d:default"/>
<setEntry value="org.eclipse.e4.rcp:default"/>
<setEntry value="org.eclipse.ecf.core.feature:default"/>
<setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature:default"/>
<setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
<setEntry value="org.eclipse.egit:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
<setEntry value="org.eclipse.emf.codegen.ecore:default"/>
<setEntry value="org.eclipse.emf.codegen.ui:default"/>
<setEntry value="org.eclipse.emf.codegen:default"/>
<setEntry value="org.eclipse.emf.common.ui:default"/>
<setEntry value="org.eclipse.emf.common:default"/>
<setEntry value="org.eclipse.emf.converter:default"/>
<setEntry value="org.eclipse.emf.databinding.edit:default"/>
<setEntry value="org.eclipse.emf.databinding:default"/>
<setEntry value="org.eclipse.emf.ecore.edit:default"/>
<setEntry value="org.eclipse.emf.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.ecore:default"/>
<setEntry value="org.eclipse.emf.edit.ui:default"/>
<setEntry value="org.eclipse.emf.edit:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
<setEntry value="org.eclipse.emf.mapping.ecore:default"/>
<setEntry value="org.eclipse.emf.mapping.ui:default"/>
<setEntry value="org.eclipse.emf.mapping:default"/>
<setEntry value="org.eclipse.emf.mwe2.launcher:default"/>
<setEntry value="org.eclipse.emf.transaction:default"/>
<setEntry value="org.eclipse.emf.validation:default"/>
<setEntry value="org.eclipse.emf.workspace:default"/>
<setEntry value="org.eclipse.emf:default"/>
<setEntry value="org.eclipse.equinox.executable:default"/>
<setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
<setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
<setEntry value="org.eclipse.gef:default"/>
<setEntry value="org.eclipse.gmf.runtime.notation:default"/>
<setEntry value="org.eclipse.gmf.runtime.thirdparty:default"/>
<setEntry value="org.eclipse.gmf:default"/>
<setEntry value="org.eclipse.graphiti.export.feature:default"/>
<setEntry value="org.eclipse.help:default"/>
<setEntry value="org.eclipse.jdt:default"/>
<setEntry value="org.eclipse.jgit:default"/>
<setEntry value="org.eclipse.pde:default"/>
<setEntry value="org.eclipse.platform:default"/>
<setEntry value="org.eclipse.rcp:default"/>
<setEntry value="org.eclipse.sirius.runtime.ide.ui:default"/>
<setEntry value="org.eclipse.sirius.runtime.ide.xtext:default"/>
<setEntry value="org.eclipse.sirius.runtime:default"/>
<setEntry value="org.eclipse.sirius.specifier:default"/>
<setEntry value="org.eclipse.wst.common_core.feature:default"/>
<setEntry value="org.eclipse.wst.common_ui.feature:default"/>
<setEntry value="org.eclipse.wst.xml_core.feature:default"/>
<setEntry value="org.eclipse.wst.xml_ui.feature:default"/>
<setEntry value="org.eclipse.wst.xml_userdoc.feature:default"/>
<setEntry value="org.eclipse.xtext.runtime:default"/>
<setEntry value="org.eclipse.xtext.ui:default"/>
<setEntry value="org.eclipse.xtext.xbase.lib:default"/>
<setEntry value="org.eclipse.xtext.xbase:default"/>
<setEntry value="org.osate.aadl2.errormodel.emfta.feature:default"/>
<setEntry value="org.osate.alisa.workbench.sdk:default"/>
<setEntry value="org.osate.atsv.integration.feature.analyses:default"/>
<setEntry value="org.osate.atsv.integration.feature.base:default"/>
<setEntry value="org.osate.ba.feature:default"/>
<setEntry value="org.osate.core.feature:default"/>
<setEntry value="org.osate.ge.errormodel.feature:default"/>
<setEntry value="org.osate.ge.feature:default"/>
<setEntry value="org.osate.gtse.config.feature:default"/>
<setEntry value="org.osate.ocarina.feature:default"/>
<setEntry value="org.osate.plugins.feature:default"/>
<setEntry value="org.osate.utils.feature:default"/>
<setEntry value="org.osate.xtext.aadl2.errormodel.feature:default"/>
</setAttribute>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="templateConfig" value="${target_home}/configuration/config.ini"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
