<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.osate.validation.lute.actionSet"
			label="Lute Set"
			visible="true">

         <menu
               id="menu.osate"
               label="%menu.osate.label"
               path="project">
            <groupMarker name="file.grp"/>
            <separator name="instance.grp"/>
            <separator name="general.grp"/>
         </menu>

         <menu
               id="menu.analyses"
               label="%menu.analyses.label"
               path="menu.osate">
            <groupMarker name="top.grp"/>
            <groupMarker name="bottom.grp"/>
         </menu>

         <menu
               id="menu.lute"
               label="Lute"
               path="menu.analyses/top.grp">
               <groupMarker name="stuff.grp"/>
            
            
             <visibleWhen checkEnabled="false">
            <with variable="activeWorkbenchWindow.activePerspective">
                <equals value="AADL"/>
            </with>
         </visibleWhen>
         </menu>
         
         <action
               id="org.osate.validation.lute.CustomLuteAction.action"
               label="Run Custom Lute Theorems..."
               tooltip="Run Custom Lute Theorems..."
               class="org.osate.analysis.lute.CustomLuteAction"
               menubarPath="menu.analyses/menu.lute/stuff.grp"
               enablesFor="1">
				<enablement>
				<or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                 <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
                 <objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
               </or>
			   </enablement>
         </action>	
         <action
               id="org.osate.validation.lute.ConsoleLuteAction.action"
               label="Run Lute Console"
               tooltip="Run Lute Console"
               class="org.osate.analysis.lute.RunConsoleAction"
               menubarPath="menu.analyses/menu.lute/stuff.grp"
               enablesFor="1">
				<enablement>
				<or>
                  <and>
                     <objectClass name="org.eclipse.core.resources.IFile"/>
                     <objectState name="extension" value="aaxl2"/>
                  </and>
                 <objectClass name="org.osate.aadl2.instance.SystemInstance"/>
                 <objectClass name="org.eclipse.xtext.ui.editor.outline.impl.EObjectNode"/>
               </or>
			   </enablement>
         </action>					


		</actionSet>
   </extension>
</plugin>
