<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.osate.wizards.category"
            name="OSATE Wizards">
      </category>
      <command
            categoryId="org.osate.wizards.category"
            id="org.osate.wizards.aadlProjectWizard"
            name="New AADL Project">
      </command>
      <command
            categoryId="org.osate.wizards.category"
            id="org.osate.wizards.packageWizard"
            name="New AADL Package">
      </command>
      <command
            categoryId="org.osate.wizards.category"
            id="org.osate.wizards.propertySetWizard"
            name="New AADL Property Set">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.osate.ui.handlers.WizardLauncherHandler"
            commandId="org.osate.wizards.aadlProjectWizard">
      </handler>
      <handler
            class="org.osate.ui.handlers.NewPackageWizardHandler"
            commandId="org.osate.wizards.packageWizard">
      </handler>
      <handler
            class="org.osate.ui.handlers.NewPropertySetWizardHandler"
            commandId="org.osate.wizards.propertySetWizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="OSATE-newWizards.toolbar">
            <command
                  commandId="org.osate.wizards.aadlProjectWizard"
                  icon="icons/new_aadl_project.gif">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.wizards.packageWizard"
                  icon="icons/new_package.gif">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.osate.wizards.propertySetWizard"
                  icon="icons/new_ps.gif">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="org.osate.ui.perspective.AadlPerspective">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
